[2014-07-10 15:26] cjermain opened #1 "Zope dependence"
Need to remove the zope.interface dependence, since this is not worth requiring.

[2014-07-16 02:32] #1 closed, assigned to nobody

[2014-07-21 15:31] cjermain opened #2 "Image for wiki"
![experimentflow](https://cloud.githubusercontent.com/assets/4521567/3645605/0a3e58ae-10ec-11e4-90f2-480a2678ce9d.png)

[2014-07-21 15:31] #2 closed, assigned to nobody

[2015-02-12 22:50] sriharshava opened #3 "typo in stanford.py"
the second row of the sensitivity is missing a zero.
it now looks like: 500e-9, 1e-6, 2e-6, 5e-6, 1e-6, 20e-6, 50e-6, 100e-6,
but it should be: 500e-9, 1e-6, 2e-6, 5e-6, 1__0__e-6, 20e-6, 50e-6, 100e-6,

[2015-02-13 03:19] #3 closed, assigned to nobody

[2015-03-19 16:20] grahamrow opened #4 "Have browser handle multiple procedure classes"
In order to allow for multiple procedures to be used in the same interface, allow the browser to use arbitrary procedures as long as they fulfill certain requirements.

[2015-04-05 23:58] cjermain opened #5 "Detailed standards for Instrument sub-classes"
A detailed list of standards for Instrument sub-classes needs to be written.

[2015-04-10 15:01] #4 closed, assigned to nobody

[2015-10-04 21:11] minhhaiphys opened #8 "Name conflicts"
In pymeasure.adapters, file visa.py
Error when execute
 #46:    visa.**version**
Error: module has no attribute (**version**)

I suspect the object "visa" was understood as a module (visa.py), not pyvisa. Please double-check.

I'd suggest we rename the visa.py and serial.py so that they won't overlap with standard libraries pyvisa and pyserial.

[2015-12-20 19:14] #8 closed, assigned to nobody

[2016-01-04 18:13] cjermain opened #10 "Worker does not join in example at 100 iterations"
The worker does not join in the example/script.py with 100 iterations.

[2016-01-19 21:40] guenp opened #12 "Pickling error on Windows"
When running the example `script.py` on Windows, the following error occurs:

[code]

This may have to do with the multiprocessing behavior on Windows.

[2016-01-21 19:00] #10 closed, assigned to cjermain

[2016-02-08 15:34] #12 closed, assigned to guenp

[2016-02-09 01:00] cjermain opened #15 "PyMeasure logo"
For fun, below are 2 possible logos for PyMeasure. @grahamrow, @ndr37, @minhhaiphys, @guenp, any preferences or other suggestions?

1. ![logo](https://cloud.githubusercontent.com/assets/4521567/12904509/f3d65780-ce9d-11e5-98ae-156bcd9de0ff.png)

2. ![pymeasure tmp](https://cloud.githubusercontent.com/assets/4521567/12904602/74eefad4-ce9e-11e5-959e-97d3119e71e1.png)

[2016-02-09 03:49] minhhaiphys opened #16 "Instrument's short name"
I think it's convenient to assign each instrument a short nickname, such as Name(Adapter), e.g. Keithley(26). This nickname will be used in logging, so that users identify the instrument readily. So the typical logged message would be something like:

Keithley(26): ERROR: Connection time out.

Any thought?

[2016-02-11 02:20] cjermain opened #18 "__init__ file in main directory"
@guenp, it looks like an `__init__.py` file was added to the main repo directory for the Jupyter notebook support. Since this folder is not a package, it typically would not have this file. Is there a reason to keep it?

[2016-02-11 22:10] #18 closed, assigned to nobody

[2016-02-21 04:00] guenp opened #19 "1 process or thread for each instrument"
Hi @cjermain,

I've just started using PyMeasure at the PPMS set-up (Windows PC).

One thing I've been doing in my measurement code, is for each instrument, run a separate server process (`InstrumentDaemon`) that is dedicated to talking to that instrument. I then create a pipe for each `InstrumentDaemon`, and talk to the pipe using a `RemoteInstrument`. That way, you circumvent the pickling issue

[2016-02-22 13:14] cjermain commented on #19
Thats a great idea -- a PR is welcome. Can we implement this without affecting the standard instrument usage? Are you thinking of using threads or processes?

[2016-02-22 19:05] guenp commented on #19
Great! Yes, it will definitely be backwards compatible. Do you have any preference between threads vs. processes? Do pipes work with threads as well?

[2016-02-23 03:29] cjermain commented on #19
Since threads are localized to specific processes, going that route requires identifying a "master process" for the threads to be spawned from. Would this be the `Worker` in that case or something else? If they are each an independent process, it avoids this hierarchy. So I would go with processes, unless you see any other complications that threads simplify. Threads should work just as well with

[2016-02-23 04:23] guenp commented on #19
Hmm, I'm now thinking 1 ```Instruments``` process for all instruments, then 1 thread per instrument...
I'll try out some things!
Also, yay for pymeasure going public :)

[2016-04-03 01:10] cjermain commented on #15
Ok. @guenp, I've brushed up your original snake-axes design. Any thoughts? I can send you the SVG.

![pymeasure_alt3](https://cloud.githubusercontent.com/assets/4521567/14230046/b395ff42-f916-11e5-810a-293c36d8fa62.png)

[2016-04-03 18:46] guenp commented on #15
@cjermain cool, that looks much more a snake and not a worm :stuck_out_tongue_winking_eye:  I think it's perfect! :+1:
Font-wise, sans-serif is all the rage these days.. I think it looks a bit more slick & works well with the vector art. how's this for example? (I used Questa sans (from fontspring.com) and adjusted the y a bit cause that one looked weird)
<img width="350" alt="screen shot 2016-04-

[2016-04-04 02:29] cjermain commented on #15
Good suggestion on the font type @guenp! I found [Roboto](https://www.google.com/fonts/specimen/Roboto), on [Google Fonts](https://www.google.com/fonts/), which I think has a similar look to Questa sans (I noticed this was made by a Dutch designer). I added some background color and shadow to make the snake more lively. How is this?

![pymeasure_alt3](https://cloud.githubusercontent.com/assets/452

[2016-04-04 11:58] guenp commented on #15
@cjermain Nice! :+1: It's really getting there. Yay Dutch font designers, that is funny. Personally I like the font a little more condensed, like this one: https://www.google.com/fonts/specimen/Source+Sans+Pro
Also, I like the backdrop, very logo-esque. I think the colors need to be more balanced, maybe it needs some pale blue? or a gradient?
<img width="278" alt="screen shot 2016-04-04 at 13 46 0

[2016-04-04 12:32] cjermain commented on #15
Ok. I've switched to Source Sans Pro. I think a solid color looks more modern. I agree the green was too strong, but I perfer (c) on this list. Any preferences?

a) ![pymeasure_alt3](https://cloud.githubusercontent.com/assets/4521567/14247577/fc87d96a-fa3c-11e5-8389-91b3b18d3c11.png)
b) ![pymeasure_alt3](https://cloud.githubusercontent.com/assets/4521567/14247590/269a822a-fa3d-11e5-8c65-2ca540c6b2

[2016-04-05 11:48] guenp commented on #15
Ok, that looks much better! I would make the graph snake just a little bit smaller compared to the text and move it a few pixels to the left. :smile: @ndr37 @minhhaiphys @mhdg @grahamrow what do you guys think?
<img width="180" alt="screen shot 2016-04-05 at 13 43 44" src="https://cloud.githubusercontent.com/assets/4041805/14280676/7a5a5c80-fb34-11e5-967a-3afb6067f8ad.png">

[2016-04-08 15:56] minhhaiphys commented on #15
Thanks for the nice work! That looks good to  me.

[2016-04-08 17:51] minhhaiphys commented on #5
Colin, can you elaborate more about this?

In modifying the existed classes, I'm quite concerned whether somebody has been using them for their projects which imposes a consistency requirement on the future modification. Any thought?

[2016-04-08 18:30] cjermain commented on #15
Thanks everyone for the feedback. The new logo is live.

[2016-04-08 18:30] #15 closed

[2016-04-08 21:04] #5 closed

[2016-04-12 16:10] guenp commented on #19
Hi @cjermain,
I'm now looking into using ```ZMQ``` for instrument multi threading. Apparently sockets are much faster than ```Queue```s. :smiley: Basically, I'm extending the ```Instrument``` class to inherit stuff from ```Listener``` and run a loop that listens to the socket for commands: [instrumentdaemon.py](https://github.com/ralph-group/pymeasure/blob/b8109f2fd47ca89ca28dd27f00400db2c78532c4/

[2016-04-12 16:48] cjermain commented on #19
The big pitfall of using ZMQ ([publisher/subscriber](http://zguide.zeromq.org/py:all#Getting-the-Message-Out)) is that both parties in the communication may not be ready, so messages can be lost. For example the Recorder may only start listening for messages after the Worker has published a few data points, which will not be received. Queues store the data until a pop call, so you will never miss

[2016-04-12 21:46] guenp commented on #19
Ok - thanks for the feedback! I've started a PR & I'll try to implement the handshake.
FYI - I'm now thinking it could either be an idea to have a separate process for each instrument, or a process per interface (GPIB, TCP, USB) and have threads for each instrument within those processes (because e.g. acquiring through GPIB is sequential and having multiple cores won't make a difference anyway and

[2016-04-13 13:54] cjermain commented on #19
I agree that you should limit the number of processes, and your suggestion to have one per adapter makes sense. Perhaps the instruments can be threads and the adapters can be processes. I'll have to think about that...

[2016-04-13 19:38] cjermain opened #25 "Docs are not building with autodoc correctly"
The docs are [not being built by autodoc correctly](http://read-the-docs.readthedocs.org/en/latest/faq.html#my-project-isn-t-building-with-autodoc) in ReadTheDocs. Currently the API does not show correctly, despite the build occurring in a virtual environment and having an included `requirements.txt` file.

[2016-05-21 19:50] cjermain commented on #25
This is partially fixed by #26. The current issue is that the Qt libraries are not built correctly, so the auto-documentation for those classes are not building properly.

[2016-06-02 02:17] minhhaiphys opened #28 "Plotting functions for Worker class"
Not sure how everyone uses the Experiment class, but it seems to me that the plotting function can be incorporated into the Worker so that the Worker can take care of executing Procedure, handling Result and plotting at the same time. What do you think?

Another issue related with the plotting functions currently in the Experiment class is that they were written mainly for jupyter notebook. I have

[2016-06-02 02:25] minhhaiphys opened #29 "Instruments as Procedure's local attributes"
It happened to me that the Procedure class could not execute when it contained Instrument instances as its attributes. Sorry, the probe station is being used by others so cannot re-run and get the error messages, but it seemed the problem lied in the **new**() function of the VISAAdapter class when it tries to choose parent class depending on the Visa version.

Temporarily I use Instrument instanc

[2016-06-02 19:48] cjermain commented on #29
Can you give a code example that produces the issue?

[2016-06-02 20:13] cjermain commented on #28
The purpose of the Worker class is to execute the procedure -- thats it. The reason for this separation of concerns is that the Procedure is a synchronous sequence of events. If the Worker also handles the Results and plotting, the Procedure will have to block to wait for these operations to execute. The plot and any other graphical tools are asynchronous, which need to react to user input. We've

[2016-06-02 20:18] cjermain commented on #28
To be clear, the `experiment.Experiment` class should only be used in Jupypter Notebooks. Check out the [`gui.py`](https://github.com/ralph-group/pymeasure/blob/master/examples/gui.py) example that does not use notebooks.

[2016-06-02 21:19] cjermain commented on #25
This is fully fixed with #30, which replaces pip with conda for installing Qt.

[2016-06-02 21:19] #25 closed

[2016-06-04 16:10] minhhaiphys commented on #28
Thanks for the explanation, Colin! And sorry for not checking through all the relevant docs. I found the comment:

        (an) in-line matplotlib graph(s)

in the `def plot_live` of `experiment.Experiment` class, so a little confused if the class was intended for use on jupyter notebook only. Might be better to move that comment somewhere near the top of the file?

[2016-06-04 16:10] #28 closed

[2016-06-04 16:21] minhhaiphys commented on #29
I've narrowed down the issue. If I use `instrument.Instrument` instances as global, or as class properties as shown in the file "testProcedure_1.txt" shown below, it was fine.

[testProcedure_1.txt](https://github.com/ralph-group/pymeasure/files/298919/testProcedure_1.txt)

The error occurs if I tried to put them as a `procedure.Procedure' instance's attributes as shown in the file "testProcedure_

[2016-06-06 12:39] cjermain commented on #29
This issue comes up as a result of using processes. When the Worker is started, it spawns a new process which does not have any variables initialized. Python Pickles everything and sends them to the new process, which can cause issues like we saw in #12. Typically to initialize instruments, I just put them in the startup method. You can also call out to a different function, or use Parameters to p

[2016-07-29 22:25] #16 closed

[2016-07-31 18:57] cjermain opened #36 "Errors in startup are not reported in Notebook Experiment"
Running an Experiment object in the notebook does not correctly report errors in the `startup` method. Errors are correctly reported for the `execute` method. Better error reporting in the Procedure class is needed, which can be based on those used to catch errors in the `execute` method.

[2016-08-03 06:36] melund opened #38 "Creating conda-forge packages for pymeasure"
Pymeasure looks awesome. I can't wait to get a chance to use it for something.

Until then I thought I could contribute by adding a conda-forge package for it. https://conda-forge.github.io/

The first step was to make a `pyvisa`1.8 conda forge package.  That went live yesterday.
https://github.com/conda-forge/pyvisa-feedstock

So you can now install pyvisa with:
[code]

Next step is the `pymeasur

[2016-08-03 06:42] melund opened #39 "Syntax error on py 2.7"
When creating the conda-forge packages I stubled on this in the build log:

[code]

[2016-08-03 12:34] cjermain commented on #38
Great idea @melund, thanks for bringing this up! PyMeasure only supports Python 3, and is specifically designed for 3.4 and 3.5, where we take advantage of the more recent multiprocessing library for concurrent execution. We fully switched to Python 3 in version 0.2 to remove the work of backporting, and are committed to [the Python 3 Statement](http://python3statement.github.io/).

Does conda-for

[2016-08-03 12:39] cjermain commented on #39
This is valid syntax in Python 3, but not 2.7. As mentioned in #38, only Python 3 is supported.

[2016-08-03 12:39] #39 closed

[2016-08-03 14:12] melund commented on #39
Ahh. Sorry about that. I thought I saw Python 2 support in `setup.py` but I think that probably `pyvisa`. No problem here. I use python 3 almost exclusively these days.

I will update the conda-forge recipe to exclude py2

[2016-08-03 18:07] melund commented on #38
@cjermain Yes. Sorry about that. I just got it mixed up with `pyvisa` which I also made a conda-forge package for. Python 2 is by no means required. We are also exclusive python 3 for [xonsh](http://xon.sh/)  (also on Python3 statements)

I updated the recipe and it now builds fine. https://github.com/conda-forge/staged-recipes/pull/1175

[2016-08-03 18:23] melund commented on #38
Btw.  should I add you as co-maintainer of the package. You can also be added later, so no worries.

[2016-08-03 18:37] cjermain commented on #38
Nice work, thanks @melund! For a new release, do we just update `recipe/meta.yml` with the version number?

[2016-08-03 18:48] melund commented on #38
Yes. That is basically all there is to it.
The  feedstock for the package is located here:
https://github.com/conda-forge/pymeasure-feedstock

I think the packages are still building at the moment. But when they are done you can just do:

[code]

[2016-08-04 17:34] ddale commented on #38
@melund would you please add me as a maintainer for pyvisa and pymeasure?

[2016-08-05 06:30] melund commented on #38
@ddale

No problem. It is as simple as adding your GitHub name on the recipe. The conda forge system will then add you to the conda-forge organisation.

https://github.com/conda-forge/pyvisa-feedstock/pull/2
https://github.com/conda-forge/pymeasure-feedstock/pull/1

[2016-08-05 06:41] melund commented on #38
@ddale  I have merged the PRs now. So the system should soon add you. Let me know if it doesn't work

[2016-08-09 00:32] cjermain commented on #38
Looks like this is all set. Thanks @melund!

[2016-08-09 00:32] #38 closed

[2016-08-10 14:50] mhdg opened #43 "LakeShore331 typo"
I found a typo on lakeshore331.py

In line 32, where it reads: "        super(Lakeshore331, self).__init__("
The 's' in Lakeshore should be capital (LakeShore)

[2016-08-10 21:51] cjermain commented on #43
Thanks @mhdg for pointing this out. I've started a pull-request (#44)  that fixes this issue and adds the temperature properties we discussed. What other features would be useful for this instrument?

[2016-08-19 19:09] cjermain commented on #36
This should be solved in #40.

[2016-08-22 01:47] cjermain commented on #43
Solve in #44.

[2016-08-22 01:47] #43 closed

[2016-08-22 13:00] cjermain opened #50 "Allow "Hide all" and "Clear all" in ManagedWindow after opening data"
After opening data files in the ManagedWindow, the "Hide all" and "Clear all" buttons are not properly enabled.

[2016-08-22 17:39] cjermain commented on #38
@melund or @ddale, can you add me as well to the conda-forge package? I'm planning to make a minor release (v0.4.2) tomorrow with updated instrument features and bug-fixes.

[2016-08-22 21:35] melund commented on #38
No problem. I made the PR.  @ddale can you merge this?

https://github.com/conda-forge/pymeasure-feedstock/pull/2

[2016-08-23 14:27] #36 closed

[2016-10-04 21:30] scasagrande opened #53 "[discussion] InstrumentKit"
Hello pymeasure devs,

I just wanted to take the time to bring a similar project to your attention, [InstrumentKit](https://www.github.com/Galvant/InstrumentKit), which I started several years ago with similar goals. Our code architecture actually looks surprisingly similar, so IK shouldn't be too foreign.

A few things that you will notice that IK has are handling of unitful quantities, extensive

[2016-10-05 21:37] scasagrande commented on #53
I think that is a *fantastic* idea. Its actually one that I've tried to advocate to people in the past! I've had people ask me if I would consider including GUI display elements into IK, but I just never felt that it was a good mix to have both tied together in the same software package. I'd want to be able to develop, push, and publish them independently of each other.

Regarding your comment on

[2016-10-07 13:59] cjermain commented on #53
Yea, both @grahamrow and I had written essentially the same package for instrument control and that prompted us to combine them into the PyMeasure package. I think a separation of GUI and instrument drivers is a good idea for maintenance -- much more of a Unix style. I will plan to do a deep dive of InstrumentKit to see the comparison. @scasagrande, how flexible is your API at this point?

I think

[2016-10-07 19:21] scasagrande commented on #53
I suppose it depends on what you mean by API, be it the external or internal developer ones. But hey, I'm always open to ideas and suggestions.

Re marketing I'm on board. I've been trying to get the word out, but you're right, I haven't made a website for the project (I'd lean more towards Pelican rather than Jekyll in keeping with the Python theme). I applied to speak at SciPy con and Pycon Cana

[2016-11-18 18:31] ndr37 opened #54 "Autoscaling error when a trace color changed and then that trace is hidden"
In a somewhat hilarious turn of events, changing the color of a trace and then hiding it causes the autoscaling to fail spectacularly. The scaling will zoom out to huge nonsense values for the axes and then loop back to correct values then scale out again without end. Turning off autoscaling stops this cyclical runaway scaling. Removing the trace from trace list does not fix the problem. Only clos

[2016-11-29 01:08] guenp commented on #54
I can verify that this is indeed hilarious and spectacular.

[2017-02-28 19:44] SunPowered opened #57 "USBTMC Adapters and Instruments"
Some new instruments use the USBTMC protocol to communicate GPIB commands over a USB bus.

An experiment I am conducting uses such an instrument and I have used the [python-usbtmc](https://github.com/python-ivi/python-usbtmc) library to extend the core `Adapter` and `Instrument` class.

If there is interest, I will submit a PR when I feel its stable.

[2017-02-28 22:43] cjermain commented on #57
@SunPowered, that sounds great! Feel free to open a PR while working to discuss the feature.

[2017-03-03 16:09] TvBMcMaster commented on #57
#58 This is the code that I have been using to control my USBTMC instrument.

Some things to note which may cause issues or confusion.

1.  In contrast to a serial port, the python USBTMC module must disconnect the device from the OS in order to communicate with it.  This means the device must be properly released back to the OS when python is finished with it.  When all things go well, this is no

[2017-03-03 16:23] TvBMcMaster opened #60 "Appveyor Build Failing for Python34"
The Appveyor [build](https://ci.appveyor.com/project/cjermain/pymeasure/history) is failing.

It started breaking at [build 0.3.170](https://ci.appveyor.com/project/cjermain/pymeasure/build/0.3.170) for build variables

    PYTHONVERSION=3.4
    MINICONDA=C:\Miniconda3[-x64]

The latest build error is:

    UnsatisfiableError: The following specifications were found to be in conflict:
      - pyqt

[2017-03-03 17:09] cjermain commented on #60
@TvBMcMaster, thanks for starting this issue. It looks like if we switch to the `pyqt-4.11.4-py34_7` package, `sip` 4.18 is supported. I'll start a PR to update the conda environment file.

[2017-03-03 20:39] cjermain commented on #60
This is fixed.

[2017-03-03 20:39] #60 closed

[2017-03-07 14:45] asteppke commented on #19
Just for reference, a similar project, [Pythics](https://github.com/dursobr/Pythics), has had great success with using separate processes instead of threads. This also allows the coupling to be much weaker, imagine a python process for one instrument than can either talk to a Pymeasure master process or alternatively to some other software. Additionally we have now several instruments in our lab t

[2017-03-08 22:50] cjermain commented on #19
Interesting point @asteppke. Using a process running on the embedded PC is how we are planning to implement the Quantum Design PPMS (PR #49). So far we don't have a general Adapter for this case. Would you use one if it was available?

[2017-04-03 21:21] cbrown1 opened #71 "pip install pymeasure generates error"
I get the following error when trying to install via pip:

[2017-04-04 12:57] cjermain commented on #71
@cbrown1, thanks for reporting this. It looks like `CHANGES.txt` is not included in `MANIFEST.in`, so its not being rolled in with the package. I will fix this shortly.

I'm curious if this effects the wheel version. Do you have wheel installed?

[2017-04-04 13:22] cbrown1 commented on #71
I can confirm that the wheel does install properly on python3, and also that the github version now installs on python2.

Thanks!

[2017-04-04 13:46] cjermain commented on #71
Great. PyMeasure only supports Python 3 to help [phase out Python 2.7](http://python3statement.github.io/). Are the pip issues specific to Python 2.7?

[2017-04-05 13:01] cjermain commented on #71
Thanks @cbrown1 for looking into this! Since this only affects the non-wheel pip installs, I will hold off on making a new release. I suspect that most users will have wheel installed, or be using the Anaconda distribution (since it includes the Qt libraries, which can be troublesome to install).

I will leave this open until the next release to inform anyone else who has this issue.

[2017-05-27 12:30] feinsteinben opened #75 "Writing results to multiple files"
Hi,

In my set-ups, I'm writing the results to a primary location (network drive), and to a local backup location (local drive) - in case the network drive suddenly disconnects.

I'd like to know whether it's possible to do it with pymeasure. I tried to bind two Result objects to the same Procedure, but it doesn't seem to work.

Thanks,
Ben.

[2017-05-29 10:10] ghisvail commented on #71
The PyPI tarball is the canonical source for packaging by Linux distributions. Please reconsider the value of providing a sane PyPI tarball.

[2017-05-29 10:23] ghisvail opened #78 "Missing dependency on pycomedi"
Neither the `setuptools` metadata nor the requirements file mention a dependency on `pycomedi`, although the latter is imported in `pymeasure/instruments/comedi.py`. The Sphinx documentation generator is complaining of its absence:
[code]

[2017-05-29 10:43] ghisvail opened #80 "Consider installing the tests"
Since you decided to embed the test suite inside the package instead of leaving it outside in a common `tests` folder (both of which are totally acceptable and covered by the `pytest` guidelines), why not install the tests with the package? It would give the following benefits:

- Simplify the `setuptools` metadata, by replacing the explicit listing of the modules with a single call to `find_packa

[2017-05-29 20:40] ghisvail commented on #80
The following change would be enough actually:
[code]

[2017-05-29 23:32] cjermain commented on #71
@ghisvail, this is already fixed on master and is just waiting on a new release. I wanted to wait until more substantial updates went through, but I'm open to making a new release if this is a show stopper for you. Keep in mind this bug only affects non-wheel pip installs. Given the Qt dependencies, I expect most users will go for the Anaconda distribution route and few will be using non-wheel pip

[2017-05-29 23:42] cjermain commented on #75
@feinsteinben, this is certainly possible. I would recommend implementing this by extending the [Recorder class](https://github.com/ralph-group/pymeasure/blob/master/pymeasure/experiment/listeners.py#L83) to handle multiple data files. This can be passed correctly by extending the [Results class](https://github.com/ralph-group/pymeasure/blob/master/pymeasure/experiment/results.py#L62) so that it c

[2017-05-29 23:43] cjermain commented on #78
Good eye @ghisvail! The `pycomedi` library is Linux specific, so it should not be required. How about wrapping the import with a try-catch statement?

[2017-05-29 23:45] cjermain commented on #80
@ghisvail, that sounds like a useful addition. Can we improve the continuous integration scripts with this?

PR welcome. Also, please add yourself to the authors list.

[2017-05-30 06:59] ghisvail commented on #78
Indeed, plus giving some meaningful error message describing why the import failed, i.e. either because the platform is not Linux or because `pycomedi` is missing.

[2017-05-30 07:06] ghisvail commented on #80
The CI setup look fine to me. I would not touch that for now.

What you would get in return is that someone reporting an issue from a venv or user deployment of `pymeasure` could then be asked to run `python -m pytest --pyargs pymeasure` to validate the as-installed package.

[2017-05-30 07:18] ghisvail commented on #71
It is currently a show-stopper for making a Linux package, but I took this opportunity to iron out some problems I discovered on the GitHub tagged release (#77, #78, #79, #80). Once these are all addressed, it would be nice to make a new release.

Quoting myself above: `The PyPI tarball is the canonical source for packaging by Linux distributions`. As a prospective packager, I am very much affecte

[2017-05-30 14:56] bilderbuchi commented on #53
Additional thought/suggestion: Maybe it would make sense to combine both your packages into Lantz - it already has units support (pint, created by @hgrecco afaik), but is lacking "Procedures" (which pymeasure offers), and has, in my experience, better marketing/visibility. Also, merging/porting the drivers would also create a bigger driver library. I don't know if the whole thing would work API- o

[2017-05-30 22:06] scasagrande commented on #53
Lantz is something that I've looked at in the past. They use pyvisa under the hood for everything, which was the exact thing I was trying to get away from. Their project doesn't seem to be designed to easily accommodate other connection libraries.

[2017-05-30 23:18] feinsteinben commented on #78
it can be added as an optional ('extra') requirement in the setup.py file.
http://setuptools.readthedocs.io/en/latest/setuptools.html#declaring-extras-optional-features-with-their-own-dependencies

[2017-05-30 23:41] cgranade commented on #53
By way of agreement with @scasagrande, one of the major goals of InstrumentKit was to be flexible with respect to communication layers. We didn't want to mandate the use of VISA as that's a very large dependency and as that makes a lot of assumptions about instrument connectivity that aren't appropriate for all users. For instance, we've had users successfully deploy IK on Raspberry Pi devices. Th

[2017-05-31 00:47] hgrecco commented on #53
Hi there! The Lantz author here. It is a project very close to my heart that started a long, long time ago. Python 3 was brand new, the ecosystems was still building up and there was not too much out there. It fulfilled its goal and helped me and others control simple and complex experiments using  Python. Like many open source projects, it's development was stopped for non-technical reasons (lack

[2017-05-31 01:02] mvddf commented on #53
It seems to me that many of these projects are trying to build up collections of instrument specific drivers based on scpi commands. However given the great number of instruments and use cases that might not be a very practical goal.
 What might be more useful would be some sort of parser which could extract the scpi commands from the instrument docs and provide a command tree. Perhaps after that

[2017-05-31 01:31] cjermain commented on #53
@mvddf, I agree with your idea for a SCPI parser. I actually started writing a YAML-based parser for this purpose a few years ago, but never pursued it that far.

The main goal of PyMeasure is to make it really easy to set up repeatable experiments with live-plotting and nice GUIs. That said, the instrument portion of the package has been largely for convenience. As I discussed with @scasagrande a

[2017-05-31 01:47] mvddf commented on #53
I have been programming automation for instruments for about 35 years in many different languages and it seems there have been many ideas that have come and gone over that time. Labview manages to persist mainly because it makes it quick to get going with any instrument. However its not a great language like python.
 Most of my time is spent in copy-pasting scpi commands from user guides into code

[2017-05-31 03:51] scasagrande commented on #53
Hey @hgrecco! I wish I chose Pint way back when I first started added units into IK. Back then Pint was pretty new, so I rolled the dice and went with a different project. [Switching over is going to be a pain, but its one that I want to do.](https://github.com/Galvant/InstrumentKit/issues/92)

@mvddf My work hasn't just been about copy pasting scpi strings. Those are by far the easiest! As I'm su

[2017-05-31 11:58] bilderbuchi commented on #53
@cgranade If I am not misreading what you say, I think [python-ivi](https://github.com/python-ivi/python-ivi) will be an interesting/related project:

@mvddf what do you think, in your experience, about IVI or python-ivi? It seems like a great idea which could probably help with the abstraction you guys want to achieve? I don't have a deep understanding of that space, admittedly.

This sounds grea

[2017-05-31 12:00] bilderbuchi commented on #53
also, pinging @alexforencich (python-ivi dev) who migth be interested in this thread/conversation.

[2017-05-31 12:39] mvddf commented on #53
I have just recently been building up a verification rack with about 17 instruments.
 Most are Agilent/Keysight but there are others too.
 I looked at every python visa and ivi module. None had implemented any of my instruments other than the power supply.
 I spent over a month building up the required scpi communication layer.
 The most complex device is a PNAX network analyzer followed by a MXA

[2017-05-31 13:47] scasagrande commented on #53
@bilderbuchi python-ivi is something that we've looked at in the past. That project has the same shortcoming that @cgranade mentioned before regarding custom communications. It doesn't fit the needs for a lot of the people that use IK

@mvddf I'm not really sure where you're going with this. I understand that writing classes for instruments is a time consuming process. There are so many different

[2017-06-02 12:01] #80 closed

[2017-06-04 18:12] cjermain commented on #71
This is fixed in the newest release. Thanks everyone!

[2017-06-04 18:12] #71 closed

[2017-06-04 21:32] ghisvail opened #83 "Spurious cache files in sdist"
Please make sure you generate future source tarballs from a **clean** tree. The current tarball (version `0.4.4`) is riddled with cache files that should not be present. Please consider merging #82 followed by a new upload. Thanks.

[2017-06-05 20:05] feinsteinben commented on #75
sounds good. I'll try to do it during the weekend.

[2017-06-09 13:40] feinsteinben opened #84 "Can't exit with Ctrl+C"
Hi,

I'm trying to run a procedure in a safe manner, such that it shuts down all the instruments when closed.
It based on this example: https://github.com/ralph-group/pymeasure/blob/master/examples/Basic/script.py
However, when I try exiting the script with Ctrl+C, it doesn't seem to recognize it. Do you have any suggestions regarding this issue?

Thanks,
Ben.

[2017-06-09 21:22] cjermain commented on #84
When the code in `script.py` gets to `worker.start()`, any call to Keyboard Interrupt should give you something like the printout below. (I'm using Ctrl+C on Linux.)

[code]

That first line of the printout is where the interrupt is being caught.

If you insert a Keyboard Interrupt before `worker.start()`, the code is not designed to handle it. You can improve this by simply adding a try-catch sta

[2017-06-09 23:46] feinsteinben commented on #84
@cjermain Thanks for your response.
I tried to Ctrl+C after the worker had started.
I'm running that on windows 7.

[2017-06-22 08:08] feinsteinben commented on #53
Another nice package is [Auspex](https://github.com/BBN-Q/Auspex). @grahamrow

[2017-06-28 12:52] bilderbuchi commented on #53
@scasagrande @cgranade @cjermain @hgrecco:
Is there something actionable we can take away from this discussion? Can we agree on a course of action to slowly converge these packages?
Here are some bulletpoints roughly summarizing the discussion above. I can turn those into issues in the relevant repositories if you want. Please indicate agreement/disagreement.

Package constellation:
* We could all

[2017-06-28 13:04] bilderbuchi commented on #53
To summarize decisions that should be made/discussed:

* [ ] Do we move the packages into one common organisation? If so, LabPy? Are people comfortable with that?
* [ ] Do we unite into one super-package?
* [ ] Who will set up a homepage/blog under that org for marketing?
* [ ] IK should probably transition from quantities to pint (Galvant/InstrumentKit#92)
* [ ] As a first technical step, is it f

[2017-06-28 23:55] cjermain commented on #83
I added exclusions to `MANIFEST.in` in 4a0e09a3fcc6f540ae74a254f78cce8401bc1d2b to prevent cache files from ending up in the future tarballs. I will cut a new release after merging #85, #86, #87.

[2017-06-29 00:32] cjermain commented on #53
@bilderbuchi, thanks for putting together the summary and action points! Your work is greatly appreciated. Here are my thoughts:

Sure. We can certainly move PyMeasure to LabPy. I made the PyMeasure organization a while ago, which is empty and is certainly an alternative home.

I don't think so. From the Unix philosophy, I think we want individual packages that do one specific task really well. Fr

[2017-07-02 17:20] scasagrande commented on #53
Sorry for the delay. I'm on vacation for Canada Day (150!) this weekend :)

That's not something I'm confortable with until we're much futher along in this process. I think at this point it would just add organizational complexity where it is not needed. We'd have to have entire conversations around authenitcation keys, license usages, developer best practices, etc. Its not something I think we're

[2017-07-04 09:00] StefanD986 commented on #53
A while back [I commented](https://github.com/python-ivi/python-ivi/issues/50#issuecomment-304872595) on the issue that python-ivi does not (yet) make use of the IVI abstraction layer.

Since reinventing the wheel was mentioned a couple of times in this issue: Actually IVI provides a not perfect, but pretty good base for everything instrument control related. The real issue is (as mentioned) that

[2017-07-04 09:15] StefanD986 commented on #53
Just want to add that IVI is of course not a solution for everything. There will always be instruments or specific functionality that will not be supported by IVI drivers (one of the more painful/astonishing examples: Source-Meter-Units have so far no place in the IVI standard.). But IVI has covered that quite good, by giving the option of providing instrument specific drivers, and/or IVI custom d

[2017-07-04 14:27] alexforencich commented on #53
If you want that feature, then use pyivi: https://pypi.python.org/pypi/pyivi/0.0.8 .  Note that you will be forced to use a standard VISA backend (NI-VISA) and it will only work on windows.  This is NOT a cross-platform solution, and there is no reasonable way to make it cross-platform.

[2017-07-04 14:43] StefanD986 commented on #53
Yes, I know and have tried out pyivi, however the project is abandoned and it does not support many instrument classes. I thought about which one of the two projects - pyivi or python-ivi - provides a better foundation, and I came to the conclusion that it is more worthwhile to write a "real" IVI backend for python-ivi for two reasons:

- From my view python-ivi looks cleaner (it has tests, the co

[2017-07-04 14:56] alexforencich commented on #53
One of the goals of python-ivi is to be cross-platform (and probably most of these python projects).  "Real" binary IVI drivers are not cross-platform.  And they have to interface directly with a VISA driver.  And on linux, the NI VISA software sucks.  They dropped support for their own USB GPIB cables on linux as it is apparently too complicated to update the driver to support non-stone-age kerne

[2017-07-04 15:44] StefanD986 commented on #53
Since (alone due to their price) the instruments are mostly used in corporate environments (where the choice of the OS is usually predefined with on anser: M$) the lacking cross-platform support is for me only a secondary problem. Also the added IVI-C backend I'd like to create would only be an additional option, it would not replace the existing drivers or pyvisa backend.

[2017-07-04 16:44] bilderbuchi commented on #53
Is this pretty detailed/specific discussion maybe better held over at the python-ivi issue tracker?

[2017-07-04 16:52] StefanD986 commented on #53
I agree. I didn't want to hijack the issue, just wanted to highlight IVI,
as many users who look for a python-based instrumentation automation
solution can't really take advantage of it.

I'd suggest follow ups to Alex and my posts should be posted under
https://github.com/python-ivi/python-ivi/issues/50

Christoph Buchner <notifications@github.com> schrieb am Di. 4. Juli 2017 um
18:44:

[2017-07-06 09:07] Laurent15 opened #88 "visa write_termination attribute"
Hi,

I'm using an equipment controlled by GPIB throught the visa adapter from pymeasure.
For write operation, this equipment is requiering to have an '\n' characters at its end of command.

In the VISAAdapter class, I found that the corresponding argument to used is 'term_chars'.
But, if I'm using it, an exception is raised : 'term_chars' is not a valid attribute for type GPIBInstrument

In fact,

[2017-07-06 09:19] bilderbuchi commented on #88
Also, I think the VISAAdapter14 or VISAAdapter15 mentioned in the docstring don't exist anymore.
Maybe this was just and oversight? Possibly connected: #52, 52028601f2dd4f82469579ea45b1864d8984f2ed

[2017-07-07 16:41] cjermain commented on #88
@Laurent15, thanks for reporting this issue. It looks like this is a leftover from the old PyVISA 1.5 days (see [migration notes to PyVISA 1.5](http://pyvisa.readthedocs.io/en/stable/migrating.html?highlight=term_chars)). Can you make a pull request with this change, and update the doctag to no longer refer to VISAAdapter14 or VISAAdapter15?

[2017-07-12 13:56] bilderbuchi opened #89 "Procedure example in documentation broken"
Hi!

When I run the procedure example found at http://pymeasure.readthedocs.io/en/latest/tutorial/procedure.html#running-procedures, nothing is printed in the console, and the `example.csv` file that is created only contains
[code]
with no data (i.e. counting up from 1 to 100). It seems the worker never joins, as it's just waiting for the timeout (btw. a 1 hour timeout in a demo example is quite t

[2017-07-12 14:08] bilderbuchi opened #90 "Using the plotter example does not work"
The [example code](http://pymeasure.readthedocs.io/en/latest/tutorial/graphical.html#using-the-plotter) has an oversight - SimpleProcedure should be replaced by RandomProcedure.
Even when that's corrected, I don't get any window popping up.

Similar situation for the managed window example (which btw is missing an `import sys`)

This is on pymeasure 0.4.5 installed via pip, pyqtgraph 0.10.0, pyqt

[2017-07-13 01:42] cjermain commented on #89
@bilderbuchi, thank you for reporting this! It looks like the examples could use a review. I will do this in the next few days.

[2017-07-13 03:03] ndr37 opened #91 "Multiprocessing behavior reverted and causes error on Unix"
In process.py, the line:

`set_start_method('spawn', force=True)`
 
was replaced with

`set_start_method('spawn')`

(currently line 33)
 
which caused it to fail when I ran it on my OSX 10.11.6 with Python 3.4. Restoring the `force=True ` seems to fix the crash.
Is there a reason it was reverted?

[2017-07-13 03:06] ndr37 commented on #91
The stated reason in the most recent version update was:

I don't know what that means. Should it read "doesn't seem to need such and argument"?

[2017-07-13 08:39] bilderbuchi opened #92 "It's not possible to test locally installed pymeasure"
Today I ran `py.test` on my locally installed pymeasure. This breaks with
[code]
because the `conf.py` file is not packaged along with the tests. This makes the `getoption` bail because the option has not been added in the conf.py.

This is not visible on CI because you run the tests on the local pymeasure repo directory, instead of an installed version, which might be a better idea because it ref

[2017-07-13 08:49] bilderbuchi commented on #89
@cjermain thank you! I have in the meantime tried the example with 0.4.4, and it works as expected. I suspect that in the massive changes by @feinsteinben something broke.

[2017-07-13 09:48] bilderbuchi commented on #91
At least according to the docs, the `force=True` kwarg never existed, and the method itself has only been introduced in Python 3.4 - I guess the classifiers in setup.py should be updated to reflect that (3.4 as a minimum target is pretty reasonable, imho).

[2017-07-13 11:25] benmetcalf42 opened #93 "Not possible to save array of data (like a scope trace for example) on every iteration"
I have a procedure object which on every iteration captures a full oscilloscope trace containing 2452 separate data points. Additionally, I capture this trace 11 separate times on each iteration for averaging purposes - this gives me a 2D (11*2452) numpy array that I wish to save under a single column ('Scope Trace') on each iteration of my procedure

However - the results object does not seem cap

[2017-07-13 12:08] bilderbuchi opened #94 "Introduce a compatibility layer to enable pymeasure to use InstrumentKit drivers"
A "compatibility layer" that would enable pymeasure to use existing [InstrumentKit](https://github.com/Galvant/InstrumentKit) drivers would be a great first step to move the pymeasure driver portion to InstrumentKit, and use that package's drivers, If necessary, incompatible information (e.g. units) could be discarded in a first iteration, to reduce the complexity of this endeavour.
cc @cjermain @

[2017-07-13 12:17] bilderbuchi commented on #53
Thank you for your inputs! I have checked all clarified items in my [summary comment](https://github.com/ralph-group/pymeasure/issues/53#issuecomment-311653717) - the only open or postponed items are:
* if/when we should unify under one org
* how/when we will approach marketing/homepage
* What components/ideas to extract from Lantz.

[2017-07-13 15:39] ndr37 commented on #91
Just for context, I received a

 error. An internet search for that error leads to at least a bug report that reports a similar problem and notes adding `force=True` as a kwarg fixed the error :

http://grokbase.com/t/python/python-bugs-list/148q63vwrz/issue22255-multiprocessing-freeze-support-raises-runtimeerror

which is what lead me to noticing that it had been removed. I can tell you it does d

[2017-07-13 16:12] cjermain commented on #91
I thought I had tested this correctly, but as I am re-running the examples I see this same issue on Linux. This is certainly a regression, and I will make a new release on fixing these issues.

@bilderbuchi, if I recall correctly I found this fix online. I was surprised not to find it in the docs, but it clearly is there in practice.

@ndr37, can you update this line? Thanks for reporting it!

Thi

[2017-07-13 16:17] bilderbuchi commented on #91
I did a quick check  of this today and yes, the coverage is at approximately 30% of the codebase.

[2017-07-13 16:42] cjermain commented on #93
@benmetcalf42, the Results object is currently limited to a single value per data column. This limitation comes from the way the Results are written to a file, since this is done to the CSV format. If we introduce additional methods/formats for saving the data, then this limitation is not necessary.

I think this would be a great feature. Do you want to spec out what this feature would look like?

[2017-07-13 17:04] bilderbuchi commented on #93
Maybe it would make sense to more fully embrace pandas when processing results/data? The dataframe is well-suited for the time-based aquisition of columns of data, and you could leverage pandas' considerable [I/O capabilties](https://pandas.pydata.org/pandas-docs/stable/api.html#id12) without reinventing the wheel.

[2017-07-13 17:07] ndr37 commented on #91
Line has been reverted

[2017-07-13 17:07] #91 closed

[2017-07-13 17:30] bilderbuchi commented on #91
Btw, the docs [say](https://docs.python.org/3.6/library/multiprocessing.html#contexts-and-start-methods):

so maybe get_context would be more appropriate to get around the "context already set" problem? I don't know the technical background, though.

[2017-07-18 00:58] cjermain commented on #92
@bilderbuchi, I can reproduce this. I am working on a branch to overhaul the tests and will address this.

[2017-07-18 04:37] bilderbuchi commented on #92
Thanks!

[2017-07-18 04:38] bilderbuchi commented on #92
I know that finding the proper test structure do cover all usecases can be really tricky.

[2017-07-19 14:42] JuMaD commented on #89
I also get the 'parameter not set' error.

[2017-07-19 16:46] feinsteinben commented on #89
@bilderbuchi sorry for that :-(
can you copy the example you tried to run?

[2017-07-19 22:13] feinsteinben commented on #89
I fixed a bug in the results logging (see #95).
After than, both examples (simple example, plotting example) started working.

**OS:** linux, x64.
**Python:** python 3.6.1 (anaconda3 4.4.0), x64.
**PyMeasure**: `latest` (commit `184f50c`), with fix #95.

[2017-07-19 23:10] feinsteinben commented on #90
I think I fixed the `ValueError: Parameter value is not set` error in the managed window example.
However, now I get another error after putting an experiment in the queue:
[code]

[2017-07-20 07:41] bilderbuchi opened #98 "Add tests for all non-instrument features"
Migrated from TODO

[2017-07-20 07:41] bilderbuchi opened #99 "Add tests for each instrument"
Migrated from TODO

[2017-07-20 07:42] bilderbuchi opened #100 "Fix curve display when the only displayed item is Queued & has no data"
Migrated from TODO

[2017-07-20 07:42] bilderbuchi opened #101 "Fix run-away graph display on autoscale"
Migrated from TODO

[2017-07-20 07:42] bilderbuchi opened #102 "Improve documentation"
Migrated from TODO

[2017-07-20 07:42] bilderbuchi opened #103 "Give an option for Results loading to ignore errors"
Migrated from TODO

[2017-07-21 16:51] cjermain commented on #98
This is currently a top priority for the next major release, PyMeasure 0.5. I plan to do some reorganization of the test, but would welcome any contributed PRs to improve the test coverage.

[2017-07-21 16:54] cjermain commented on #93
@bilderbuchi, I agree. However, we need to retain the header information that provides the Procedure information. So perhaps we want to look at HDF5, which has key value storage that could serve this purpose. Does anyone want to champion this feature of expanding the I/O capabilities of the Results object?

[2017-07-21 16:55] cjermain commented on #99
As we transition instruments to InstrumentKit (#53, #94), I think this will no longer be critical. For now, let's hold off on developing further instrument tests.

[2017-07-21 16:56] cjermain commented on #102
PRs welcome!

[2017-07-21 16:57] cjermain commented on #101
This is a duplicate of #54.

[2017-07-21 16:57] #101 closed

[2017-07-21 16:58] cjermain commented on #94
@bilderbuchi, PR welcome. I plan to focus my time on better test coverage at this point, but would be happy to see this effort progress.

[2017-07-21 17:03] cjermain commented on #89
I will make a minor release (PyMeasure 0.4.6) with these once they are tested.

[2017-07-21 17:33] bilderbuchi commented on #99
Well, for IK you will also need tests if you want to integrate new Instruments, but you have a point.

[2017-07-21 17:39] bilderbuchi commented on #94
Better test coverage is good! It will definitely take me quite some time to get a feel for both codebases enough so that I can try to contribute something.

[2017-07-21 17:42] bilderbuchi commented on #93
I hope that some day pandas will finally get metadata storage in a data frame. There's a much-discussed issue on their tracker, but it won't go far without outside contributions, apparently.

[2017-07-23 18:40] bilderbuchi commented on #98
There is a connection to #102 here, as the doctest facilities of pytest could be used to test some of the examples in the docs. Also, doctests in the pymeasure code docstrings could be a good way to get some coverage increases going, while at the same time improving documentation.
Pytest can [consume](https://docs.pytest.org/en/latest/doctest.html) doctests, both in .py and .rst files. Unfortunate

[2017-07-23 18:41] bilderbuchi commented on #102
Doctests in both pymeasure code and runnable examples in the documentation would be useful, see [here](https://github.com/ralph-group/pymeasure/issues/98#issuecomment-317273099).

[2017-07-25 14:13] bilderbuchi commented on #90
When merging #95 #96 #97, the randomprocedure example works as expected I think. The managed window example works with some caveats, see https://github.com/ralph-group/pymeasure/pull/96#issuecomment-317748308

[2017-07-27 12:15] bilderbuchi opened #105 "Leaked semaphores?"
When running the managed window example in Spyder, closing the window, and running it again, I get a crash of the consol kernel. This does not happen in pycharm. @feinsteinben can also reproduce this.
Sometimes I noticed this error message after closing for the first time:
[code]
and some userwarning about how the application should be shutdown with ctrl-q and some other key combos.

[2017-07-28 12:53] bilderbuchi commented on #102
I found this a good, short, read about what constitutes good documentation: https://www.divio.com/en/blog/documentation/

[2017-07-31 00:13] cjermain commented on #105
I am also getting this after merging #95, #96, #97.

[code]

[2017-08-06 23:14] cjermain commented on #105
This error goes away using `fork` instead of `spawn`, but it's not clear yet whether this is a Python or PyMeasure bug.

[2017-08-12 14:55] cjermain opened #107 "All Threads by version 0.5"
I'm considering the idea of switching `Worker` objects to run in threads instead of processes, which would largely eliminate the need for multiprocessing in PyMeasure. I would love everyone’s feedback on this before making the final decision. Below I've outline a number of reasons why I think this is a good idea.

1. The original reason to move to `multiprocessing.Process` was to deal with a perfo

[2017-08-12 15:13] cjermain commented on #105
This looks like a CPython bug, but have not gotten to the bottom of it completely. It only occurs on Unix, and only with `spawn`.

[2017-08-12 18:13] bilderbuchi commented on #107
My gut feeling is that for the tasks that pymeasure needs to do, you're most of the time I/O bound (waiting for instruments) not CPU bound, so maybe a simpler approach like concurrent futures and friends would be the way to go?
Regarding the pickling, I don't know the details of the problems you have encountered, but this sounds like interprocess communication needs to pass hashable objects, and y

[2017-08-17 16:53] cjermain commented on #107
@bilderbuchi, agreed that I/O time is the significant time constraint here. The pickeling issue is actually on reconstructing a class that was dynamically imported (in a spawn process it won't actually have the class available at process construction).

Any other thoughts?

[2017-08-25 16:30] JuMaD opened #109 "Forking/Pickling issue when worker.start() is called?!"
Using the ManagedWindow class, I can add experiments to the queue. However, once they should "start" (i.e. the next() method is used) the whole .py file gets interpreted again instead.

In the debugger I traced it down to a new thread being started when the worker is started. When Manager.next._worker.start() is called). Due to the error message below my best guess is, that it has something to do

[2017-08-25 21:08] cjermain commented on #109
@JuMaD, thanks for reporting this issue!

Can you provide more context? Which OS are you using? Are you running one of the examples?

[2017-08-26 11:35] JuMaD commented on #109
I'm working on Windows 7/10. The problem quite literally popped-up in an own program, but I tested it with the ManagedWindow example (which has a typo in the docs btw ;) ) where it is also an issue.

[2017-08-27 19:55] cjermain commented on #109
Which version of PyMeasure are you running? Version 0.4.5 had some regressions concerning the Worker behavior that we didn't catch before the release.

[2017-08-28 08:24] JuMaD commented on #109
I'm running the latest version with some minor adjustments (just expanded the GUI of ManagedWindow with a list to pick an instrument and starting the queue only on Button click [Disabled start_on_add and connected the button to "resume"]).

Everything else is running just fine. But as I said: When I debug, I can see that "starting" the worker leads to a new thread instead.

[2017-08-28 09:59] bilderbuchi commented on #109
It's probably helpful for the maintainers if you paste the code in question, or a minimum reproducible example and the output you get, here instead of making them search the changes you could mean. ;-)

[2017-08-28 11:30] JuMaD commented on #109
Ok then. Here's the (adjusted) example from the docs

`
print('Running')
class RandomProcedure(Procedure):
    iterations = IntegerParameter('Loop Iterations')
    delay = FloatParameter('Delay Time', units='s', default=0.2)
    seed = Parameter('Random Seed', default='12345')

    DATA_COLUMNS = ['Iteration', 'Random Number']

    def startup(self):
        log.info("Setting the seed of the rando

[2017-08-28 16:14] cjermain commented on #109
@JuMaD, I understand. The fact that `print('Running')` is called twice is actually expected. When the Worker starts, it produces a spawned process on Windows. This spawned process starts from scratch, so it must re-import everything and re-establish the procedure class. In doing so, it will re-run the code outside of the procedure class when importing it (since it is not hidden behind a `__main__`

[2017-08-28 17:19] JuMaD commented on #109
@cjermain, thank you for your tips.

--> That is what I suspected, too. My problem is that I basically have no clue about multi - processing / threading whatsoever, i.e. troubleshooting is difficult for me.

Since I get a new ManagedWindow when the worker is called I suspected that even the `if __name__ == __main__` protected statements, namely
[code]
get called again. So I added a `print("inside

[2017-08-29 01:26] cjermain commented on #109
@JuMaD, this is an interesting problem. I would have expected only 2 processes to be running at a single time. You won't see the traceback unless there is an explicit error. I'll think about this further.

[2017-08-29 05:58] bilderbuchi commented on #102
Some doctests executing code in the documentation has been added in #111, so this can be used as a guide for adding documentation doctests elsewhere.

I have also looked a bit into adding doctests to the pymeasure code docstrings, but since most things are very interconnected and often depend on GUI features, I did not find feasible/sensible opportunities.

[2017-08-29 06:12] bilderbuchi commented on #98
doctests for the documentation have been added in #111.

[2017-08-29 11:17] JuMaD commented on #109
Thank you for the quick reply and the assistance!

The second "MainThread" is what confused me, too.
As for the new window: Could it be, that the problem is, that ManagedWindow is calling  QtCore.QCoreApplication.instance() outside the '__main__' protection?

[2017-08-31 00:42] cjermain commented on #109
Do you have a link to a fork with the changes you made?

[2017-08-31 06:35] JuMaD commented on #109
Of course: https://github.com/JuMaD/pymeasure

[2017-09-15 12:57] JuMaD commented on #109
Have you found the time to have a closer look at this issue?

[2017-09-16 15:42] cjermain commented on #109
@JuMaD, I have not had the opportunity. I will make some time tomorrow to check it out.

[2017-09-17 13:02] cjermain commented on #109
@JuMaD, this is most likely an issue with spawn. I can not reproduce it on Linux with your branch `extend_managedwindow` -- on Windows it would use spawn to launch the process. I would suggest that I make the multiprocessing to thread switch (#107) instead of debugging further, so that we are no longer using spawn. If that doesn't remove your issue, it should make it much easier to debug.

You men

[2017-09-17 16:22] JuMaD commented on #109
Thanks a lot for checking it out! And I agree - switching to thread should "solve" the issue on my end (and propably all other windows users)

I think it was just one typo - I'll check it in more detail tomorrow.

[2017-09-18 16:29] ndr37 commented on #109
I'm not sure if this will be helpful, but I encountered this problem in version 4.6 as well on Windows 7 and, as far as I can tell, reverting to version 4.4. (I did not check version 4.5 because there isn't a wheel).

[2017-09-19 00:18] cjermain opened #114 "Tests for 32 bit builds"
Currently we are running unit tests for:

- Windows 32 bit: Python 3.4, 3.5, and 3.6
- Windows 64 bit: Python 3.4, 3.5, and 3.6
- Linux 64 bit: Python 3.4, 3.5, and 3.6
- macOS 64 bit: Python 3.4, 3.5, and 3.6

I suggest that we drop support for 32 bit Windows to reduce the test run time.

Any thoughts?

[2017-09-19 04:42] bilderbuchi commented on #114
yeah why not. Are the windows builds running that much longer than the Travis builds?

[2017-09-25 23:07] cjermain commented on #114
@bilderbuchi, great question. The travis builds are doing both Linux and macOS. I was thinking to break them up, and use CircleCI to run the Linux builds.

[2017-09-26 04:47] bilderbuchi commented on #114
With the amount of activity this report is generally seeing, is it worth the hassle of supporting 3 different CI configurations to shave a single-digit number (?) of minutes from the testing time? Or do you expect the amount of testing, both in length and frequency, to increase substantially in the future?

[2017-09-26 04:47] bilderbuchi commented on #114
Report -> repo, thank you phone...

[2017-09-26 16:41] cjermain commented on #114
@bilderbuchi, that is a good point. Overall, I want to make sure that the CI does not get in the way, and that unit testing is quick. For now, lets leave it as is and keep this issue open if people have other thoughts.

[2017-10-10 09:18] JuMaD commented on #109
Thanks ndr37! Reverting back to 4.4 fixes the 'new Window' issue. However, I forgot to make a branch after forking and now I have no clue how to push (only) my changes into the branch with version 0.4.4 :(

Is it worth for me to figure out a way to cherry-pick all commits minus the ones that change to multiprocessing or will the multiprocessing to thread switch be done any time soon?

[2017-10-10 12:00] cjermain commented on #109
@JuMaD, the multiprocessing to thread switch #113 is complete. If you are willing to test it I would greatly appreciate it. I've been meaning to write more unit tests before merging, but it should work correctly as is.

[2017-10-10 12:04] JuMaD commented on #109
Great! Is it dev/threads?

[2017-10-10 17:28] cjermain commented on #109
Yes, its in `dev/threads`.

[2017-10-16 15:48] JuMaD opened #115 "ManagedWindow GUI: FloatParameter doesn't accept negative Values"
Hi,
another issue, I found using the `ManagedWindow`:
Every time a `FloatParameter `is to be set to a negative value, it is set to "0" instead. IntegerParameters can be set to negative Values but the default value on start-up is also reset to "0".
I suspect this has something to do with QtValidators ?!

To clarify:
`
Voltage = FloatParameter('Voltage', units='V', default=-1)
`

leads to `value=-1`

[2017-10-17 17:44] aagentile opened #116 "Unexpected behaviour of Plotter and GUI window in examples (and modified ones)"
(as the first let me thank you for the nice effort leading to this library!)

I am having some troubles with reproducing the examples as in
[http://pymeasure.readthedocs.io/en/latest/tutorial/graphical.html](url)
(which might be an old issue)
as well in modifying the example structures to monitor actual serial instruments.

- Configuration: PyMeasure-0.4.6 running on Conda installed 3.5.2 Python 6

[2017-10-17 19:02] physicsninja commented on #116
We are currently in the process of switching away from processes to threads. @cjermain can speak to this more, but I think this problem is due to the intricacy of implementing PyMeasure using processes.

If you want a temporary fix until that is sorted out, I suggest reverting to version 0.4.4 (`pip install pymeasure=0.4.4`), it seems some of the massive upgrades going from 0.4.4 to 0.4.5-6 broke

[2017-10-17 19:08] JuMaD commented on #116
The error is most likely due to the known issue with multiprocessing (compare #109). This will be solved once dev/threads is pulled. For now you could fork pymeasure and merge the branch (works just fine with me} or revert back to an older version (easier if you don't want to have to update your local copy manually.

The example with randomprocedure works fine for me with both the plotter as well

[2017-10-18 22:35] cjermain commented on #116
@aagentile, thanks for reporting this! And thanks @physicsninja and @JuMaD for the quick responses.

Both of the issues appear to be multiprocessing related, and are currently Windows specific (PyMeasure 0.4.6). I will push a new release out now after merging `dev/threads`, so people can start using that. I was originally planning to add more unit tests, but I don't think its worth waiting on.

Wi

[2017-10-19 00:32] cjermain commented on #114
It looks like the main delay for the CI tests are actually the macOS builds. TravisCI has a fairly consistent backlog of macOS builds in their status (https://www.traviscistatus.com/).

[2017-10-19 09:49] aagentile commented on #116
Thanks all of you for the quick replies!

Understood the issue, thanks for explaining me the problem.
So far I managed a quick fix using @physicsninja suggestion. True, it crashes when called twice in a row, yet this was no major issue.

I will look forward the new release if close in time, otherwise I will do a merge as suggested by @JuMaD .
Also thanks for the hint about the startup method, had

[2017-10-19 10:02] JuMaD commented on #116
Actually @cjermain  just released the new version. Just update and you will be fine. If you already added pip as PATH to your environment variables just type this into your console:
`sudo pip install pymeasure --upgrade`

If you have not here's how to do it: Go Environment Variables, Click "New" and insert PATH as name and "<path>\Scripts" as value where <path> is the path of your Anaconda install

[2017-10-19 10:56] bilderbuchi commented on #116
I thought it's not recommended anymore to `sudo pip` anything, and instead just `pip install`, which installs into your home directory somewhere? I have successfully been using that method up until I switched to Anaconda on Linux, too..

[2017-10-23 07:06] dvspirito commented on #109
I had the same issue with `Plotter`, after updating to version 0.5.
This https://github.com/dvspirito/pymeasure/commit/b64a83d128055489b430074a95cc4d054ba1e52e fixed it, however I didn't test much (I'm on Win7). I don't know if this fix can have side effects on other classes.

[2017-11-05 03:32] Laogeodritt opened #118 "ScientificInput, used for FloatParameter GUI, does not correctly set minimum/maximum"
A ScientificInput GUI element used for a FloatParameter in a Procedure does not correctly set the minimum and maximum attributes on the GUI element. Instead, they are set to the QtDoubleSpinBox default of 0.00 and 99.99.

For example, in the code example below, phase will only be settable in the range 0 to 99.99 inclusively, despite the `minimum`/`maximum` attributes set on the Parameter. The GUI

[2017-11-05 03:33] Laogeodritt commented on #118
Probably related to #115. I'm working on a fix now, just thought I should log it as a bug first.

[2017-11-05 09:30] Laogeodritt opened #120 "Logarithmic and semilog plotting using ManagedWindow"
Is there presently any way of showing log-log or semi-log plots using ManagedWindow? Looks like [pyqtgraph supports it](http://www.pyqtgraph.org/documentation/graphicsItems/plotitem.html#pyqtgraph.PlotItem.setLogMode) but I'm not seeing those facilities called in PyMeasure at the moment.

Main use case for this would be for multi-decade frequency sweeps (x-axis) and plotting power data logarithmic

[2017-11-07 02:03] cjermain commented on #120
@Laogeodritt, great question! I believe that you can right click on the plot to open up the pyqtgraph menu. There should be an option to adjust the plot and axes. If not, PR is certainly welcome.

[2017-11-07 04:09] Laogeodritt commented on #120
Yes, that does work! Thanks, I didn't realise there was a context menu.

Do you know if there's any API support for setting these programmatically in PyMeasure right now? I can see that pyqtgraph does but I don't think the possibility is forwarded to the PyMeasure GUI.

If not, maybe something I can work on later. Since we're talking experiment-specific GUIs and automation, having the display auto

[2017-11-12 17:16] cjermain commented on #120
I'm glad that works. You can certainly adjust the plot programmatically. I would suggest checking out [curves.py](https://github.com/ralph-group/pymeasure/blob/master/pymeasure/display/curves.py) and the pyqtgraph docs. I certainly welcome enhancing the PyMeasure support for different axes.

[2017-11-13 02:04] Laogeodritt opened #122 "Documentation: Tutorial: worker is described as using multiprocessing, not threads"
Current worker implementations use a StoppableThread, but [this tutorial page](https://pymeasure.readthedocs.io/en/latest/tutorial/procedure.html) describes it as using a separate process.

Related to #107 and #113.

[2017-11-13 23:47] cjermain commented on #109
@dvspirito, thanks for bringing this up. I left `Plotter` on multiprocessing when I did the switch (forgetting about the Windows-specific bug) -- it should have also been switched over. Feel free to make a PR with your fix and I will merge.

[2017-11-14 23:57] #115 closed

[2017-11-14 23:57] #118 closed

[2017-11-16 11:47] Laogeodritt commented on #107
Is the `Plotter` intended to still use multiprocessing, now that the `Worker` is just threaded? Or was this an oversight?

Noticed this discrepancy while handling #122.

[2017-11-20 22:57] cjermain commented on #107
@Laogeodritt, the `Plotter` should be switched to threading. This was an oversight on my part.

See @dvspirito's comment in #109.

[2017-11-20 22:58] #122 closed

[2017-11-20 23:11] #120 closed

[2017-12-22 13:22] bilderbuchi opened #128 "Instrument.setting does not have set_process"
`Instrument.control` has `get_process` and `set_process`. `Instrument.measurement` has `get_process`. Why does `Instrument.setting` not have `set_process`?

I think it would be useful, to e.g. cast truthy/falsy values to `1`or `0`, respectively. I know that I can (mis)use `validator` by passing an appropriate lambda, but it feels kludgy.

[2018-01-02 01:04] cjermain commented on #128
@bilderbuchi, the idea with these different function generators is that they each serve a specific case.

`Instrument.control` - a value that is set and read
`Instrument.measurement` - only read
`Instrument.setting` - only set

Does that clarify the difference?

Can you elaborate on the casting of boolean values? Where in the code are you suggesting?

[2018-01-02 09:09] bilderbuchi commented on #128
I know the difference, but found the absence of `set_process` inconsistent. To expand your list:

`Instrument.control` - a value that is set and read -> has `set_process` and `get_process`
`Instrument.measurement` - only read -> has `get_process`
`Instrument.setting` - only set -> does NOT have `set_process` - why?

My example: I have a power supply whose output is switched on/off by sending `OUT

[2018-01-04 02:01] cjermain commented on #128
@bilderbuchi, thanks for the further explanation. I agree with your suggestion to add `set_process` to the arguments of `Instrument.setting`. Its absence was an oversight when I introduced the `get_process` and `set_process` to the other 2 functions. Do you want to start a PR?

[2018-01-04 09:27] bilderbuchi commented on #128
It will take a couple of weeks until I can start on this, but yeah, I'll try to get a PR together. :-)

[2018-01-10 08:05] avelo commented on #53
Joining to discussion as I've just found this thread. I also think that convergence in instrument control would be very desirable, as there are a lot of people that works with customs instruments or experiments in laboratory and needs PC interfacing.
I've been working for some time with [Pythics](https://github.com/dursobr/Pythics) from @dursobr, but development has stopped long time ago (python2

[2018-01-11 01:28] dursobr commented on #53
This is Brian D'Urso, the original author of Pythics.

Sorry I haven't been more responsive to comments and patches. I do actually
have some additional updates to Pythics that I have made in my own code,
although I never uploaded them to GitHub (I've never been good with that).
I still use Python2/qt4 myself, although it may be time to move on. My
research group still uses Pythics for all our inst

[2018-01-11 08:52] avelo commented on #53
Great to see you here Brian!
I think that you have made a very nice tool with Phytics for instrument control. Back in 2015 I choose Pythics over many other alternatives after a carefully analysis of our requirements and set of tests.
In my opinion it is still the best package for instrument control with GUIs.
It's very easy to start working with it by looking at the examples and the very good help

[2018-03-09 13:23] Bruyant opened #130 "Version comparaison error in pyvisa"
Hi,

when using pyvisa I get and error on line 48 of pymeasure/adapters/visa.py.

It's a problem with visa version of the form '1.2.3' which cannot be converted to float.

I propose the following fix:

[code]

[2018-03-15 12:29] cjermain commented on #130
@Bruyant, thanks for your suggestion! I agree with your solution. Do you want to submit a pull request with this fix?

[2018-03-15 13:59] Bruyant commented on #130
I will try to learn how to do it.

[2018-03-15 15:24] bilderbuchi commented on #130
If you fork pymeasure to your github account, you can just edit the relevant file, save (it makes a branch and creates a commit automatically), and then follow the suggestions to create a PR (there is a button either directly after or when you display the branch that github just created for you)

[2018-03-19 01:28] #128 closed

[2018-03-20 08:07] bilderbuchi commented on #53
Hm, this discussion has come to a standstill, are there actionable things we want to take away from this? Are people available to put some momentum in this again?

[2018-03-20 08:09] bilderbuchi commented on #53
From discussions I have recently found online, @MatthieuDartiailh, @pazzarpj, @aquilesC could be interested to add their wisdom/experiences.

[2018-03-20 09:34] pazzarpj commented on #53
Don't have much wisdom on this as I haven't reviewed in detail each of the packages listed here.
But the way i see it, there needs to be clear delineation between different layers of abstraction and where each of the libraries in the community should interface.

1. We have the SCPI level interface. (Python-ivi, PyVisa)
2. The wrapper around that so that instruments can be somewhat interchangeable

[2018-03-20 10:33] bilderbuchi commented on #53
I just found this document containing some thoughts by the Labpy contributors about desired features/structure of instrument drivers: https://github.com/LabPy/labpy-discussion/wiki/Instrument-drivers
Would be interesting to know how much of these are contained in the various libraries out there.

[2018-03-20 13:02] MatthieuDartiailh commented on #53
Hi, everybody

From experience what you are trying to do is both very interesting and very complicated. I was involved in the common effort under the LabPy org, however thing did not turn out so well, because solving those issues is quite complex and require a lot of discussion from all involved parties. I did most on the code writing in Labpy (lantz_core) and basically gave up because I was getti

[2018-03-20 13:17] bilderbuchi commented on #53
I think this is one of the key take-aways from this discussion. We need to collect/interest a big enough number of developers, so that the bus factor goes up, people can come and go without the team being reduced too much so there is no feedback/discussion, and new users are attracted to the platform. Basically, a critical mass problem. I think LabPy could (have) become that, as it's already an or

[2018-03-20 13:37] MatthieuDartiailh commented on #53
I think you also need a hard core of developers with time enough to discuss in depth the different challenges and solutions. For example one discussion that stopped midway was the standardization of the driver interfaces, because to design such an interface one has to consider multiple instruments from different vendors and come up with a minimal common subset that makes sense. This is quite time

[2018-03-20 13:52] scasagrande commented on #53
I'm just going to keep plugging away on my chosen path :) however with my recent job switch (I am now a product test engineer at an electronics manufacturing company) I just don't have time to organize or drive any of this. However I am going to be migrating a lot of our stuff to use IK so I'll still be working away at new development.

[2018-03-20 13:57] MatthieuDartiailh commented on #53
Also you may want also to contact people from https://github.com/QCoDeS/Qcodes

[2018-03-20 16:42] bilderbuchi commented on #53
Wow that looks expansive. It's crazy that there are so many different solutions out there!
Your're probably right @MatthieuDartiailh, probably @jenshnielsen and @WilliamHPNielsen have something useful to add here.

[2018-03-20 18:19] alexforencich commented on #53
So, one thing about the labpy/lantz stuff that I noticed: I wanted to help work on the core code a few times, but the metaclass stuff is a bit obscure and as a result figuring out how objects end up getting put together is not very intuitive, and after poking around for a few days I ended up setting it aside and moving on to other things.  So the 'activation barrier' for new developers (and probab

[2018-03-21 08:57] WilliamHPNielsen commented on #53
Hi everyone! Thanks for mentioning us. From what I understood skimming through this long discussion, you/we want to unify all the different python-based measurement and instrument control packages into one common framework. Who could argue against the usefulness and awesomeness of that?

Having said that, I have to add that although QCoDeS has a lot of developer power, we are currently also very n

[2018-03-21 09:45] pazzarpj commented on #53
Just going out on a limb here as someone who doesn't have as much stake at this layer of development.
Perhaps instead of creating the "ideal" instrumentation package, we should be using the LabPy community as a place to list all the repos of the contributors to the community in the Instrumentation space. This thread alone has shown me so many different takes on the Instrumentation layer where my o

[2018-03-21 11:41] bilderbuchi commented on #53
@pazzarpj yeah, collecting the relevant packages in one place might be a useful first step.

Maybe another reduced-scope goal could be to unify the different "instrument-driver" layers floating around into one package, optimally with a featureset that is a union of what is available in the different packages (unit support, validators, testability/unit tests,...). That way at least that part of the

[2018-03-21 11:43] bilderbuchi commented on #53
@alexforencich  (you're the only visible org member) would labpy be open to hosting such an effort?
I feel like a good next step could be to continue these discussions over at https://github.com/LabPy/labpy-discussion/issues, so that we can stop spamming @cjermain's issue tracker. :D

[2018-03-21 17:06] cjermain commented on #53
@bilderbuchi, no worries. I'm glad to see the enthusiasm and openness for collaboration.

For my part, I am no longer in a research role, so I am not actively working on PyMeasure. I am maintaining the package, and have been excited to see a number of user contributions. I'm happy to help facilitate any consolidation from the PyMeasure side of things.

A few years ago we got to the discussion stag

[2018-03-23 02:59] hinnefe2 commented on #53
Happy to see that people are still working on replacing labview with python :) I am also no longer in a research role, but my labmate @pbnjeff89 has taken over our collection of python instrument drivers (which we called [labdrivers](https://github.com/masonlab/labdrivers)).

For what it's worth, I agree with @cjermain that marketing is the key to consolidation. Labs that have already heavily inve

[2018-03-28 21:47] pbnjeff89 commented on #53
I didn't see a new discussion in https://github.com/LabPy/labpy-discussion/issues so I thought I'd drop by here.  I'm very late to this party, but I'd like to offer whatever help I could give in between writing my thesis/doing lab work.

[2018-04-13 19:43] jshoup1 opened #134 "Connecting to instrument"
I am new to pymeasure. I am having the following issue when trying to connect/call the instrument.
Any help would be wonderful.
Thanks
![pymeasure issue](https://user-images.githubusercontent.com/38362722/38754828-51ec5d82-3f31-11e8-947e-3dc8f0ec0585.PNG)

[2018-04-13 20:16] bilderbuchi commented on #134
This check is pretty fragile (as you found out). Better to use, e.g. `pkg_resources.parse_version()` (https://setuptools.readthedocs.io/en/latest/pkg_resources.html#parsing-utilities) to compare versions. Depends on `setuptools`, but pymeasure is using this already, anyway.

[2018-04-14 12:35] cjermain commented on #134
@jshoup1, thank you for reporting this. This is the same bug as #130. I will push a fix and release a new version to resolve this issue.

[2018-04-14 17:24] cjermain commented on #130
@Bruyant, please update PyMeasure to version 0.5.1 and let me know if you still have this issue.

[2018-04-14 17:25] cjermain commented on #134
@jshoup1, please update PyMeasure to version 0.5.1 and let me know if you still have this issue.

[2018-04-16 14:38] jshoup1 commented on #134
Thank you for the quick response. I updated and it is not working.

[2018-04-16 16:25] cjermain commented on #134
@jshoup1, can you be specific about the error?

[2018-04-17 15:55] mivade opened #136 "Supporting alternative output formats"
CSV is useful as a human-readable, easily-transportable file format and serves as a good default. Other formats (HDF5, SQL, numpy's format when using `np.save`, etc) also have their advantages and may be more appropriate for certain use cases.

One way to do this is to create a new abstract base `Formatter` class from which various formatters can inherit. Then the `Results` class can take an optio

[2018-04-17 17:52] mivade commented on #136
This would be good as a way of including many supported formats by default, but I think refactoring things a little to allow for custom solutions would be helpful. These ideas are not mutually exclusive, of course.

[2018-04-19 21:27] cjermain commented on #136
@mivade, great suggestion! I agree that CSV files are not ideal for every case. The main advantage is that experiment parameters can easily be stored alongside the data in the same file -- this is used extensively though PyMeasure so that old experiments can be opened and re-run. I would consider it a requirement for other storage formats to support storing the experiment parameters. HDF5 and SQL

[2018-04-21 15:03] vik-s opened #137 "Passing parameters to get_command and set_command in Instrument.control"
I am writing an instrument driver for a source measure unit that has multiple channels. I want to use the Instrument.control method to do this because I really like the validators and map_values() capabilities. However, I need to change the get_command and set_command strings based on the channel I am writing or reading voltage or current.

I tried the following code, but it does not access the pr

[2018-04-21 19:28] cjermain commented on #137
@vik-s, great question! I have yet to test this scenario out. In principle, I would have expected your solution to work. There are two reasons why I suspect it might have failed:
1. Did you define `channel_mode` to be a `@staticmethod`?
2. Did you define `smu1_mode` as a class variable?

In order for the property to work properly it needs to be executed at the class level, before the object is con

[2018-04-23 16:30] vik-s commented on #137
@cjermain, thanks for your input. I gave it some thought, and I think the correct way to do this is to put all the methods to control the channels in a separate class called `SmuChannel(Instrument)` which takes the channel name as an argument in its `__init__` method.

In the main `Agilent4156(Instrument)` class, I will create `SmuChannel` objects for each channel like:
[code]
and so on. This way,

[2018-04-23 16:44] ArtfulRefraction opened #138 "query about accessing time and using it as a parameter for continuous monitoring of a measurement system"
I am very much interested in using pymeasure for experiments in my lab. After having a look at the documentation it seems that  pymeasure is intended for experiments with a fixed number of iterations in mind.

However, I would like to be able to measure/monitor certain parameters (e.g. temperature) as a function of time continuously for an undetermined amount of time. Would there be an easy way to

[2018-04-23 16:50] cjermain commented on #137
That sounds like a good approach. I'll keep an eye out for the PR.

[2018-04-23 17:00] cjermain commented on #138
@ArtfulRefraction, that is a great question! You can set up an experiment to run without basing it on a fixed iteration.

If we take the basic script example from the repo, all you need to do is change the `for` loop to a `while` loop over some condition.
https://github.com/ralph-group/pymeasure/blob/13c557237d46b84197d2290efdabe51769ead309/examples/Basic/script.py#L39-L50

You could use `while(Tr

[2018-04-24 12:11] digrx opened #139 "Request specify pyvisa backend"
I'm using agilent Spectrum Analyzer E4402B,
It seem's pymeasure not working with my SA because the command sent to SA not ended with line feed (0x0A character).
I'm using serial terminal to send *IDN? command and ended with 0x0A,
the SA reply with the identification.

[2018-04-24 12:46] cjermain commented on #139
Have you tried connecting to the instrument directly with the `VISAAdapter`?

[2018-04-26 16:59] ArtfulRefraction commented on #138
@cjermain, thank you very much for your very prompt reply. It's great to know this project is very much alive!

I think what you propose should do the trick. In the meantime I have started adding a few instruments not currently in the repository and will be able to test what you propose once I have all the data acquisition electronics sorted. I will get back to you once I have done so.

Thank you

[2018-04-27 13:27] digrx commented on #139
I was try using pyVISA directly and it's work using @py backend with command
rm = visa.ResourceManager('@py')
I will try using VISAAdapter but I need specify to using @py backend.
How to do that from pymeasure ?

[2018-04-30 11:57] cjermain commented on #139
@digrx, the option to use the Python backend is not currently available. It would be easy to include by adding an argument to the `VISAAdapter.__init__` method, so that you can toggle between the VISA and Python backends. The `ResourceManager` is constructed here:
https://github.com/ralph-group/pymeasure/blob/13c557237d46b84197d2290efdabe51769ead309/pymeasure/adapters/visa.py#L55
I would suggest d

[2018-05-04 13:10] cjermain commented on #138
@ArtfulRefraction, glad to hear it!

[2018-05-04 13:18] tvervust opened #141 "Problem with "open button" in the gui.py example"
I am new to the pymeasure package and I just tried the gui.py example. This runs fine (using Spyder) but when I hit the open button I get the following error:

Traceback (most recent call last):
  File ".\Anaconda3\lib\site-packages\pymeasure\display\windows.py", line 325, in open_experiment
    dialog = ResultsDialog(self.procedure_class.DATA_COLUMNS, self.x_axis, self.y_axis)

  File ".\Anaconda

[2018-05-04 13:31] cjermain commented on #141
@tvervust, what version of Qt do you have? It appears that the `layout` method is missing in `QtGui.QFileDialog` for your version of Qt.

[2018-05-08 07:04] tvervust commented on #141
Hello Colin,

These are the versions:
pyqt: 5.6.0
qt: 5.6.2

Is qt5 supported? I will try with qt4...

Thanks,
Thomas

2018-05-04 15:31 GMT+02:00 Colin Jermain <notifications@github.com>:

[2018-05-09 01:10] cjermain commented on #141
@tvervust, it looks like in PyQt5, the `QFileDialog` had it's methods renamed, so I suspect the issue is related. See the discussion in http://pyqt.sourceforge.net/Docs/PyQt5/pyqt4_differences.html#qfiledialog.

The simplest short term fix is to use Qt4 and PyQt4.

It would be great to support Qt5 as well. I certainly welcome pull requests, and will see if I can find time to work on this feature.

[2018-05-22 15:40] mhdg opened #142 "Worker problem multi-thread"
Hi all, I'm having problems to run a program that works fine in an old computer (Win7, Anaconda Python 3.6.3), but doesn't work in a new one (Win10, Anaconda Python 3.6.5, although I tried downgrading python too).

Is it a problem with how the plotter is coded? It seems that the error is coming from the multi-thread in worker.

Thanks in advance for the help!

C:\ProgramData\Anaconda3\lib\site-pac

[2018-05-23 12:30] mhdg commented on #142
I've found a workaround with a fresh install of python 3.5. Everything seems to work well except of opening old measurements. Could the problem be in one of the new versions of the standard python packages?

[2018-05-23 21:54] cjermain commented on #142
@mhdg, from the error messages, both of the errors appear to be external to PyMeasure. It seems as though you might be having a problem with zmq. What version are you using?

[2018-05-28 08:44] vatgh opened #143 "Instrument programming model"
Before contributing with some drivers for instruments I wanted to clarify the take of this project on which model to use.
I could not find any reference to IVI or SCPI as a reference model in the documentation. Therefore, if I implement for example an oscilloscope, which model should I use in order to make the drivers for this oscilloscope work the same way as for all other oscilloscopes?
IVI addr

[2018-05-28 11:36] bilderbuchi commented on #143
You might also take a look at InstrumentKit, which has [abstract instruments](https://github.com/Galvant/InstrumentKit/tree/master/instruments/abstract_instruments) like you suggest.

[2018-05-28 17:02] cjermain commented on #143
@vatgh, thanks for your thoughts on IVI vs. SCPI. We have typically focused on SCPI commands.

To give you more context, the PyMeasure project mainly focuses on the experiment execution and graphical user interfaces -- to make experiments easy to run and manage. For convenience, we have a fairly mature set of instrument classes. However, as @bilderbuchi suggested there are other projects that woul

[2018-05-29 10:03] bilderbuchi commented on #143
At the end of that discussion there are some links to further (hopefully more structured) discussion in the labpy organisation. In one issue we are currently trying to catalog the python instrument driver packages out there - help is welcome!

Making IK drivers available in pymeasure would be cool (there is an issue about this in the IK issue tracker), but I'm not aware of any progress on that fro

[2018-06-25 22:39] jmittelstaedt opened #145 "Keithley 2000 Typo"
The `_mode_command` function definition in the keithley2000 instrument file is missing a `self` as its first argument (on line 515 of that file).

[2018-07-04 14:04] cjermain commented on #145
@jmittelstaedt, thanks for pointing this out. This is indeed a problem. Do you want to submit a PR?

https://github.com/ralph-group/pymeasure/blob/fb8e6e18c6a93ad867b6638987a976e1061690f7/pymeasure/instruments/keithley/keithley2000.py#L515

[2018-07-05 13:11] cjermain opened #148 "PyQt 5.6"
Currently the versions of Python below 3.6 are using PyQt 4.11.4 for testing. This is inconsistent with the Python 3.6 tests, because an official PyQt 4.11.4 version is not available. All the environments can be moved to the same PyQt 5.6 version to keep consistency and help resolve issues during the automated testing.

[2018-07-05 13:12] cjermain commented on #142
This seems to be resolved. If not please re-open the issue.

[2018-07-05 13:12] #142 closed

[2018-07-05 13:13] cjermain commented on #148
This is related to #141.

[2018-07-27 03:20] vik-s commented on #137
The approach I described earlier worked well. Closing issue.

[2018-07-27 03:20] #137 closed

[2018-07-31 17:26] CasperSchippers opened #151 "Setting time-constant DSP7265 not working"
Whenever I try to set the time-constant of the signal-recovery DSP7265, I end up setting the wrong time-constant: it will revert to the minimal time-constant (10e-6 s) while i want to set e.g. 200e-3 s.
Here is a MWE:
[code]

However, I found that when i replace the property time_constant of the DSP7265 with the exact definition from the DSP7265 instrument class, it seems to be working perfectly.

[2018-08-03 00:28] cjermain commented on #151
@CasperSchippers, thanks for reporting this. This is certainly not expected. Without overwriting `time_constant`, are you able to write other values (e.g. `20.0`)? Which version of Python and PyMeasure are you using?

[2018-08-04 09:06] CasperSchippers commented on #151
I am able to set different values for the time constant, but not as intended (for example trying to set 1s results in a time constant of 20e-6, 2 gives 40e-6, and 3 gives 320e-6, so it also doesn't follow the order of the values in the definition of the parameter). Other properties of the lock-in seem to be working, so I can set e.g. the voltage
I use python 3.5.2 with pymeasure 0.5.1

[2018-08-09 12:51] robmarkcole opened #153 "Error in examples/Notebook Experiments/script2.ipynb"
script.ipynb runs fine but in script2.ipynb I hit the following error at `experiment = Experiment('test', procedure, analyse)`:

[code]

[2018-08-13 00:55] cjermain commented on #153
@robmarkcole, this looks like a matplotlib issue. Have you looked to see if `axes.color_cycle` is a valid RC parameter (a setting for matplotlib)? Can you provide the full traceback?

[2018-08-13 01:09] cjermain commented on #151
Interesting... Does the instrument respond correctly to the explicit GPIB commands given manually? Can you add a print statement to the [`write` method](https://github.com/ralph-group/pymeasure/blob/4114450cb93f5bf435d771337bdcb40d79b0e748/pymeasure/instruments/instrument.py#L94) to see what command is being sent? You can edit your `lib/python3.5/site-packages/pymeasure` files directly for a quick

[2018-08-13 13:34] robmarkcole commented on #153
Full traceback

[code]

[2018-08-13 13:37] robmarkcole commented on #153
https://matplotlib.org/api/matplotlib_configuration_api.html#matplotlib.RcParams

`axes.color_cycle` was deprecated as you say https://matplotlib.org/users/prev_whats_new/whats_new_1.5.html?highlight=axes%20color_cycle#added-axes-prop-cycle-key-to-rcparams

[2018-08-13 22:35] cjermain commented on #153
@bilderbuchi, thanks for the deprecation reference!

@robmarkcole, is the new error occuring in the following section? I would suggest manually trying to set the RC param to ensure it is working as expected.
https://github.com/ralph-group/pymeasure/blob/4114450cb93f5bf435d771337bdcb40d79b0e748/pymeasure/experiment/config.py#L73

[2018-08-14 08:25] robmarkcole commented on #153
@cjermain I assume this only works if I had installed in editable mode with `pip install -e .` ?

[2018-08-14 13:49] robmarkcole commented on #153
@cjermain I'm not sure what you mean, so I commented out `# set_mpl_rcparams(config)` in `experiment.py` and the notebook runs fine with no errors

[2018-08-15 23:13] cjermain commented on #153
Ok, no worries. I was suggesting setting [`matplotlib.rcParams`](https://matplotlib.org/users/customizing.html#matplotlib-rcparams) directly to make sure that it works manually.

It would be great to put together a pull request that solves this. Any interest, @robmarkcole?

[2018-08-16 08:46] robmarkcole commented on #153
Hi @cjermain by resolve, do you mean my sollution of commenting out `set_mpl_rcparams`? Happy to contribute, and if we are given time to work on our automation project I will have a lot of equipment to add! Re live plotting, matplotlib isn't ideal for this, has Bokeh or similar been tested/ ruled out?

On another topic, are TCP devices currently supported? I gather not and I would need to add an a

[2018-08-16 09:57] bilderbuchi commented on #153
I think for live plotting aspects, pymeasure already uses pyqtgraph, not matplotlib.

[2018-08-16 09:59] bilderbuchi commented on #153
also, the erroring entry is being created (I just now realise) in the notebook itself, in the first input cell there is a %%writefile magic - the line `axes.color_cycle...` has to be adapted to the new matplotlib syntax, and the error should disappear.

[2018-08-16 11:09] robmarkcole commented on #153
I edited the first cell:
[code]
And rerun but get the error:
[code]
So a PR will be required

[2018-08-17 01:55] cjermain commented on #153
@robmarkcole, nice work diagnosing the issue. A PR would be great!

As @bilderbuchi mentioned, the primary graphical user interfaces provided by PyMeasure use pyqtgraph for plotting. They provide reasonable performance, and are much faster than matplotlib. The notebook work was pioneered by @guenp, who also did some work with TCP instruments if I recall correctly -- she may be willing to share som

[2018-08-17 09:53] CasperSchippers commented on #151
I think i have found the issue, which is not on the writing part but rather on the reading part of the property. (Although I am quite certain that the writing also didn't work correctly at first, but that seems to be solved... magically; perhaps by changing the lock-ins (we use multiple), but i cannot reproduce the writing issue anymore....)

The issue with the reading of the time-constant lies in

[2018-08-18 13:34] cjermain commented on #151
Nice catch! I'll review #155, and look to put out a new release with these changes.

[2018-08-29 15:56] robmarkcole opened #158 "Windows requires \r"
HI
I'm developing support for a Newport 1931-c power meter, on a WIndows 7 machine. I have a headache that windows requires that commands be terminated `\r`, for example `adapter.write("*IDN?\r")` is required. I don't see a way to do this without creating a new adapter sub-class?

[2018-08-30 08:46] robmarkcole opened #159 "No CI for Windows"
HI
the readme states CI for Windows, but I see [this is not the case](https://github.com/ralph-group/pymeasure/blob/master/.travis.yml)

[2018-08-30 09:30] bilderbuchi commented on #159
you're looking for [this](https://github.com/ralph-group/pymeasure/blob/master/appveyor.yml).

[2018-08-30 09:56] #159 closed

[2018-08-30 11:13] robmarkcole opened #160 "Add read_termination and write_termination to SerialAdapter"
As identified in https://github.com/ralph-group/pymeasure/issues/158 my Newport power meters require that every command be terminated with `\r`. I create this issue to discuss the solution.
One approach is to create an `adapter` sub-class where for every command I `command += '\r` but this is very hacky. Alternatives?

[2018-08-30 11:33] bilderbuchi commented on #160
I also remember running into this previously (don't remember which instrument, though). I circumevented by appending the respective characters manually to each command, which is quite inelegant. I also did the custom Adapter with overridden `write` function, but that's just not nice.

Maybe a good approach would be to expose `write_termination` and `read_termination` parameters across adapters? Id

[2018-08-30 12:20] robmarkcole commented on #160
@bilderbuchi thanks for your advice, indeed the danfysik instrument implements a [custom adapter](https://github.com/ralph-group/pymeasure/blob/master/pymeasure/instruments/danfysik/adapters.py)  which I can fork as a quick solution. Longer term I like the proposal of implementing `terminator` across all adapters. If we adopt pymeasure in our lab then I would be willing to do this.

Re InstrumentK

[2018-08-30 13:29] bilderbuchi commented on #160
I think you can leave this issue open for now, as the "right" way to do it seems to be clear but not yet implemented. I'll let @cjermain decide how he wants to handle this.

Re IK, check out #53 (warning: long read)

[2018-08-30 14:01] robmarkcole commented on #53
Couple of other projects of interest:

1. https://github.com/NSLS-II/bluesky powerful, complex, science crowd
2. https://github.com/home-assistant/home-assistant I'm a regular contributor to this one. Gives control over a vast array of non-scientific instruments, e.g. webcams, esp type boards etc

I see us using a combination of pymeasure and home-assistant in our lab

[2018-08-30 15:46] robmarkcole commented on #90
I receive the same error as @feinsteinben when running the [gui examples](https://github.com/ralph-group/pymeasure/tree/master/examples/Basic). The GUI launches fine, but I get the error when I hit `queue`

[2018-08-31 03:02] cjermain commented on #160
@robmarkcole, this is an interesting problem. The [Danfysik adapter](https://github.com/ralph-group/pymeasure/blob/master/pymeasure/instruments/danfysik/adapters.py#L30) is certainly a good example, which required some more sophisticated logic on the read side to handle error reporting.  If you need that level of sophistication, then I think a dedicated class makes sense.

For simple line terminat

[2018-09-05 13:29] achadha0111 opened #161 "Error Code 800: Illegal with Storage Active"
I was trying to run the example procedure script after changing `sourcemeter.set_buffer(averages)` to `config_buffer(averages, 0.001)` since the class method no longer seems to exist. However, on running the procedure, I get **Error Code 800: Illegal with Storage Active** whenever the `start_buffer`, `wait_for_buffer` and `reset_buffer` command is called. I tried disabling storage on Keithley, yet

[2018-09-06 23:56] cjermain commented on #161
@achadha0111, thanks for reporting this issue! It seems like you are referring to the [Making a measurement docs](https://pymeasure.readthedocs.io/en/latest/tutorial/procedure.html). The `Keithley2400` class does indeed have `set_buffer`, which comes from the inhereted [`KeithleyBuffer` class](https://github.com/ralph-group/pymeasure/blob/fb8e6e18c6a93ad867b6638987a976e1061690f7/pymeasure/instrume

[2018-09-11 01:57] MadaniJo opened #162 "Connect over Ethernet bridge E5810x ?"
Dear,
Is there an easy way/syntax to connect over this king of Ethernet/GPIB bridge like Agilent E5810A.
With python IVI syntax is like :
ivi.instrument('TCPIP::192.168.120.1::gpib0,2::INSTR')
So I tried Keithley2400('TCPIP::192.168.1.159::gpib0,2::INSTR') but this fails
thanks.
Dan

[2018-09-13 11:33] achadha0111 commented on #161
Thank you for the reply. My apologies, I was only able to go into the lab today to check. I changed the order of the statements in which the `reset_buffer()` function is called and it seems to work now.

[2018-09-13 11:33] #161 closed

[2018-09-14 23:59] physicsninja commented on #162
Hi Dan,

Could you post the error messages? I've never used that bridge before, but it definitely appears that that should be the correct command. If it works with that syntax when you instance a python IVI class, it should work the same for our adapter as we use pyVISA and that looks like the correct syntax.

[2018-09-17 07:09] MadaniJo commented on #162
Hi,
Have a look.
    def test_pymeasure(self):
        pwrmtr = Keithley2400("TCPIP::192.168.1.159::gpib0,2::INSTR")
        print(pwrmtr)

    def test_vxi11(self):

        ip_address = '192.168.1.159'
        print(ip_address)
        instr =  vxi11.Instrument(ip_address, "gpib0,2")
        print(instr.ask("*IDN?"))

Second test work first not. Below the log. Thanks to for your interest.

[2018-09-17 07:10] MadaniJo commented on #162
The log:
E192.168.1.159
HEWLETT-PACKARD,E4418B,GB42421350,A1.08.01
.
======================================================================
ERROR: test_pymeasure (__main__.TestInstr)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "D:\test_git_repo\python-ivi\ivi\test\test_ivi_dizic01.py", line 25, in test_pymeasure
    pwrmtr = Keit

[2018-09-18 18:06] vik-s opened #163 "readthedocs documentation not updated"
It appears that the documentation for the instrument I added (Agilent 4156) as part of PR #149 is not reflected on readthedocs under pymeasure.instruments. Is there something I'm missing?

[2018-09-19 04:32] LastStarDust commented on #130
Hello. I am experiencing a similar issue:

 - **OS**: Centos 7 (Linux DAQ 3.10.0-862.11.6.el7.x86_64 #1 SMP Tue Aug 14 21:49:04 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux)
 - **pyvisa-py**: 0.3.1
 - **pyvisa**: 1.9.1
 - **pymeasure**: 0.5.1
 - **GPIB**: Bus 001 Device 002: ID 3923:709b National Instruments Corp. GPIB-USB-HS
 - **Device**: KEITHLEY INSTRUMENTS INC.,MODEL 2400
 - **linux-gpib**: 4.1.0-

[2018-09-21 08:18] MadaniJo commented on #162
Looks nobody as a solution for this ?

[2018-09-21 17:58] physicsninja commented on #162
Sorry, for not getting back to you, it was a hectic week.

I don't know what the root cause of the problem is. I'm not sure it is the optimal solution, but perhaps the simplest solution is writing an IVIadapter using the VISAadapter as a template, given that you know the call to the IVI library works. Given that the IVI library is modeled to fall back to VISA, I imagine things would be pretty simi

[2018-09-24 00:18] cjermain commented on #163
@vik-s, thanks for raising this issue! It looks like there was an [issue with ReadTheDocs](https://github.com/rtfd/readthedocs.org/issues/3140) that has since been resolved. I've fixed our configuration on ReadTheDocs, and have re-triggered a build.

https://readthedocs.org/projects/pymeasure/builds/7832244/

[2018-09-24 00:41] cjermain commented on #162
@MadaniJo, the Keithely2400 uses VISA by default, when the adapter is not specified. That means that your address needs to work when using VISA alone. I would suggest using an IPython (Jupyter) notebook or terminal to try out the commands with VISA.

If you need IVI specifically, @physicsninja's suggestion of writing a new adapter is the best option. [Adapters](https://pymeasure.readthedocs.io/en/

[2018-10-18 13:46] thosou commented on #162
Hi,

I ran into the same issue. I found out that when using a VisaAdapter with the NI library it does not work while using the py backend it does. There are apparently few things to set up in order to get that to work with the NI lib (https://knowledge.ni.com/KnowledgeArticleDetails?id=kA00Z0000019LccSAE).
Unfortunately I use linux for my measurements so I did not try it out.
I have also noticed t

[2018-10-18 14:40] MadaniJo commented on #162
Hi,
I would have a look and test your adapter if you push it.
Regards,
Dan

On Thu, Oct 18, 2018, 21:46 thosou <notifications@github.com> wrote:

[2018-10-22 23:46] cjermain commented on #162
@thosou, thanks for your input. I'm happy to review a PR for your VXI adapter, and it sounds like @MadaniJo would also be able to review.

[2018-10-26 07:39] robmarkcole opened #167 "Streaming data in Jupyter using streamz"
HI
thought I would highlight this approach to streaming data in a Jupyter notebook, which allows considerable scope for experimentation with the plot style

http://pyviz.org/tutorial/11_Streaming_Data.html

![image](https://user-images.githubusercontent.com/11855322/47551498-41abc580-d8fa-11e8-9822-2711752f123a.png)

[2018-11-02 00:48] jmittelstaedt opened #168 "ZMQ error"
Hi,

While running PyMeasure on a newer version of anaconda, I got an error which looks like it's coming from an update ZMQ had. In particular, the error occurs when a `worker` tries to use its `emit` method. The error is in the `self.publisher.send_serialized` function, which I'm guessing has changed in a newer version of ZMQ or something. A fix for now is to add a `TypeError` to the following `e

[2018-11-27 21:58] jmittelstaedt commented on #93
A possible solution to this would be to use the data structures in the [xarray](http://xarray.pydata.org/en/stable/) package. The `Dataset` defined in that package is essentially a multi-dimensional version of a pandas `DataFrame` which supports arbitrary metadata in `attrs`, which is just an `OrderedDict`. The external file type preferred by xarray is the netCDF file format which supports such mu

[2018-11-28 02:11] cjermain commented on #167
@robmarkcole, this is a cool package. Thanks for bringing it up.

[2018-12-13 07:28] thosou opened #170 "Few bugs to fix"
Hi,

I have gathered a few bugs:

* In  pymeasure/pymeasure/log.py, I think there is a mistake.

https://github.com/ralph-group/pymeasure/blob/e2a3c7ecae3e2c533df32e59490fb553a786e616/pymeasure/log.py#L102

It should be something like:
[code]

* If we call the status property it will return the property object. Properties cannot be added dynamically to the instance but should be added to the class

[2018-12-16 22:00] cjermain commented on #170
@thosou, thanks for calling out these bugs! Please make PRs as you see fit, and then request a review.

The second issue you mention with the properties being set on `self` is a good catch. The challenge here is that the Instrument class is shared among a number of other instruments, so I don't think we want to set it at that level. I would suggest using `__new__(cls, ...)` to set the properties.

[2019-01-04 23:56] mbrad092 opened #172 "Add Prologix gpib to ethernet adaptor"
Also the VXI-11 adapter isn't present in the pip version of this package. Thanks for your efforts, really enjoying the package!

[2019-01-05 13:33] thosou commented on #172
Hi @mbrad092,

I actually also use the ethernet to gpib prologix adapter! I made a personal quick and dirty solution based on what has been done with the serial prologix. I had in mind to open a discussion and see how we could add this contribution.
Regarding the VXI-11 adapter, I think it will be probably available in the next release. until then you can always install from github.

[2019-01-07 11:53] bilderbuchi commented on #170
I think you can create a custom class on the fly, see e.g. [here](https://stackoverflow.com/a/2954373/599884) or [this question](https://stackoverflow.com/questions/48448074/adding-a-property-to-an-existing-object-instance) (by @vascotenner I heavily suspect).

[2019-01-07 12:04] vascotenner commented on #170
Properties can be dynamically added to an instance. For an example see the stackoverflow questions above, or this camera driver:
https://github.com/vascotenner/lantz/blob/drivers_developv/lantz/drivers/basler/basler.py

[2019-01-08 07:40] thosou commented on #170
Thanks for the tip! It was good learning. So I manage to fix the problem like this:

[code]

The Instrument class is then renamed SCPIInstrument.

[2019-01-09 01:35] mbrad092 commented on #172
Oh lol very nice! Any chance I could ask you for to send me your quick and dirty solution in the interim before the contribution is finalized?

[2019-01-10 09:51] thosou commented on #172
Hi @mbrad092,

You can find the code here:
https://github.com/thosou/pymeasure/blob/dev/prologix-ethernet/pymeasure/adapters/prologix.py

You can use this adapter the same way as the `PrologixAdapter`
Let me know if you get it to work!

[2019-01-10 14:17] nickagian opened #173 "Writing different results to multiple files"
Hi,

In my set-up I would like to write results to two different files, but not in the way it was described in #75.

Let's say for example that in the "Current-Voltage measurement" example, except for the 'Current, Voltage, Resistance' set of measurements, I would like to take some current consumption measurements before and after collecting the above data. It doesn't necessarily make sense in thi

[2019-01-14 22:01] physicsninja commented on #173
Sorry for not replying to your issue sooner.

You can definitely do it. I'm not sure what the most maintainable way to do it is (perhaps @cjermain is a better person to ask), but I can suggest the way that I did it. I use a custom gui like in this [example](https://github.com/ralph-group/pymeasure/blob/master/examples/Basic/gui_custom_inputs.py)

Just to restate my understanding of the problem, yo

[2019-01-15 03:38] cjermain commented on #172
@mbrad092, thanks for reminding me to make a new release! I've published version 0.6 which now has the VXI-11 adapter.

@thosou, it would be great to add your PrologixEthernetAdatper to PyMeasure.

[2019-01-15 23:54] cjermain commented on #148
This is solved in v0.6.

[2019-01-15 23:54] #148 closed

[2019-01-20 17:10] cjermain opened #176 "Update the license year"
This issue tracks updating the license year across the code-base, so that it is up to date.

[2019-02-14 04:07] badarirao opened #180 "Faulty function get_buffer() in dsp7265"
I am trying to make the get_buffer()  function work, but unable to do so.
There are many issues in it like:
- self.length is not defined.
- the line "while int(self.values("M")) != 0:" should have self.values("M")[0] ?
- how is the variable count used? I don't see it changing anywhere, so how will it become greater than maxCount?
- also the command "self.values("DC. %d" % self.curve_bits[quantity]

[2019-02-20 01:55] cjermain commented on #180
@badarirao, thanks for raising this issue! The `get_buffer` method indeed has some errors as implemented. The `self.length` is indeed not defined, but appears as if it should be a property that returns the length of the buffer. I would recommend that you get the DSP7265 manual and try to manually run the commands. Once we have the working set, we can revise this method.

[2019-02-21 06:52] badarirao commented on #180
@cjermain ,Thanks for looking into this bug.
Could you give me the algorithm on how the function is supposed to work? I am not exactly able to understand the given code.
Also, the signal recovery manual says something about implementation of serial poll in order to extract the data. I am not exactly sure on how to do this. The exact note in the manual is as follows:
" Note that when using this com

[2019-02-26 00:01] cjermain commented on #180
Unfortunately, I did not write the original function, nor do I have access to that instrument.

I would suggest determining which command provides the status, and then do a bit comparison to find the value the manual suggests. You will need to use the `DC` command to pull back the values. All of this can be done by directly calling read/write/ask on the instrument, and manually stepping through th

[2019-03-07 13:03] bilderbuchi commented on #160
I just ran (again I think) into the issue that the SerialAdapter cannot have custom read/write termination characters, so I had to postfix those to all the commands and strip manually from the results. Some "universal" solution would be appreciated.

[2019-03-07 13:06] bilderbuchi commented on #160
To add insult to injury, this was a device that had \r\n and \n read/write termination characters for normal commands, but the command to enable/disable remote control is actually a non-printing ascii character *without* termination, so it was actually "good" :cough: to have to suffix all the other commands manually... :P

[2019-03-07 15:53] ronan-sensome opened #182 "Bug to set Keithley 2400 in measure resistance mode"
In the module: `pymeasure.instruments.keithley.keithley2400`, the method `measure_resistance` in class `Keithley2400`, single quotes are missing in the command sent line 276 that reads

[code]

It should be replaced by

[code]

[2019-03-10 15:50] cjermain commented on #182
Thanks for raising this @ronan-sensome! Why are the quotes needed in this context?

[2019-03-10 20:13] ronan-sensome commented on #182
Hello
The :SENS:FUNC need a string as argument. I have tried to set my keithley 2400 to measure resistance using this function and I have got a data type error. After checking,  I have remarked that the function `measure_voltage` which is very similar to `measure_resistance` use the same command with the argument 'VOLT' (with quotes).
The datasheet confirms my idea, we need quotes to make the argu

[2019-03-10 20:32] cjermain commented on #182
This has been resolved in #183.

[2019-03-10 20:32] #182 closed

[2019-03-14 14:42] hlgirard opened #184 "Keithley 2400 - check_errors() does not cover delayed readings"
When using a Keithley 2400 sourcemeter with a Prologix adapter, it regularly happens that a reading returns an empty string. In these cases, it seems like the reading is delayed by the adapter because it will usually come concatenated with the next read as in the example below:

[code]

This is a problem of its own and will be the object of another issue but the current problem is that if one runs

[2019-03-14 17:44] hlgirard opened #186 "Keithley buffer - is_buffer_full function does not work"
The `is_buffer_full()` function of the Keithley buffer module always timeouts.

Trying to run `sourcemeter.ask('*STB?')` returns `0\n` both during the buffer filing and when it is full.

My setup is pymeasure (v0.6.0) -> Prologix 6 GPIB controller -> Keithley2400.

[2019-03-18 13:57] bilderbuchi commented on #160
@cjermain would you think the SerialAdapter also learning `write_termination`/`read_termination` like the VISA adapter recently?

[2019-03-18 20:28] hlgirard commented on #184
This issue was caused by the Prologix not returning upon receiving a termination character which caused concatenated answers to be returned over Serial. The cause was fixed in PR #185 by changing the read method to `++read eoi` such that the prologix never reads more than one line at a time.

[2019-03-18 20:28] #184 closed

[2019-03-18 22:51] cjermain commented on #160
@bilderbuchi, I'm certainly open to adding in more extensive control for both terminations. Thanks for driving this discussion. Are you up for a PR?

[2019-03-19 07:05] bilderbuchi commented on #160
yeah, but it will take some time/weeks to get around to it, way too busy currently.

[2019-04-19 14:05] da66en commented on #160
Just got affected by this, too.

[2019-04-21 18:30] #176 closed

[2019-05-02 17:45] hududed opened #194 "Newport ESP300 read write termination / VI_ERROR_TMO (-1073807339) Timeout #157"
Hi all

I am running this old ESP300 machine which is included in pymeasure instruments.

I seem to be running into a `VI_ERROR_TMO (-1073807339) Timeout #157` issue and the solutions seem to be keying in the right terminations. How do I achieve this with the ESP300 package?

I have tried `my_instr = ESP300("GPIB0::3::INSTR", read_termination = '\r\n', write_termination = '\r')` but I don't think

[2019-05-02 19:53] lawa42 commented on #168
Same problem here

zmq: 18.0.1
zeromq: 4.3.1
python: 3.7.3
pymeasure: 0.6.0

[2019-05-04 04:39] jmittelstaedt commented on #194
Hi,

I have been plagued by VISA timeout errors with the ESP300 for a while now. Unfortunately, I don't think the read/write terminations are the problem since I have been able to communicate with it (mostly) successfully without  specifying them explicitly. However, if you do want to check that they are set, I think you can do so by looking at the corresponding attributes of the VISA connection o

[2019-05-22 12:47] CasperSchippers commented on #168
I've got the same problem here as wel, but i figured out that the problem only arises when you have cloudpickle installed (for reference: in my case this is cloudpickle 1.0.0)

[2019-05-27 18:32] jasonimm opened #197 "error in pymeasure with keithley2400"
in pymeasure website,
I found "making measurement with keithley 2400 "
in that example,
# Import necessary packages
from pymeasure.instruments.keithley import Keithley2400
import numpy as np
import pandas as pd
from time import sleep

# Set the input parameters
data_points = 50
averages = 50
max_current = 0.01
min_current = -max_current

# Connect and configure the instrument
sourcemeter = Keithle

[2019-05-28 06:58] bilderbuchi commented on #197
Hi! Sorry to hear you are having problems.
First, you can use [triple backticks](https://guides.github.com/features/mastering-markdown/#GitHub-flavored-markdown) to format your code as source code, much better readable that way.
Second, please go into more detail what did not work, e.g. show error messages you have seen, or other observations that tell you that it did not work. Otherwise, it will

[2019-06-01 15:23] jrr1984 commented on #84
have you fixed this bug? It seems not to be working the keyboard interrup feature.

[2019-06-01 17:42] jrr1984 opened #204 "ask for some help"
Hi! I'm trying your package and i'm running with some issues.

The code i implemented based on the examples is here:
https://github.com/jrr1984/thorlabs_step_motors_ZST213B/blob/master/barrido/barrido_con_threads/measure.py

then with a main.py i create the workers and run the main program.

The first problem i encounter is that my results come in lists: for each iteration i got a list of waveleng

[2019-06-04 01:16] cjermain commented on #168
@jmittelstaedt and @lawa42, thanks for reporting this issue. It sounds like there is an incompatibility with `cloudpickle` as @CasperSchippers brings up. I will take a look when I get the opportunity.

[2019-06-04 01:36] cjermain commented on #84
@jrr1984, can you give more specifics on your observations? What OS are you using? What versions of PyMeasure?

[2019-06-05 02:22] #204 closed

[2019-06-07 02:18] jrr1984 commented on #93
Has this been solved? Im trying to save a trace of an spectrometer (a list of nearly 2500 points) but it wont work whith the plotter

[2019-06-07 02:25] jrr1984 commented on #84
Windows 10 64 bits, using pycharm IDE (i realised this IDE has a bug itself, maybe thats the problem!). The pymeasure version is the latests one from github, tomorrow i can give you more details. I know this is no the place to ask this but do you have any example using the results object when we emit a list as a result like the trace of an spectrometer or an oscilloscope? I would like the Plotter

[2019-06-17 01:31] cjermain commented on #93
@jrr1984, this is still an open issue.

[2019-06-17 01:47] cjermain commented on #168
This could also be an issue with Python 3.7, since we don't have any test visibility yet.

@jmittelstaedt, can you put together a minimal example that displays the behavior, and we can add it to the unit tests.

[2019-06-19 12:43] HikariBoy commented on #130
Let me begin with saying this is my first every post so I'm a noob here but I hope I can help..I had almost the identical problem as @LastStarDust except I could not connect to the USB port of an Agilent 33220A function generator.  Usng the following snippet I could connect and it correctly responded
<code> import usbtmc</code>
<code> import subprocess</code>
<code> usb_devices = subprocess.check_

[2019-06-19 16:03] Kassikakk commented on #168
I've looked into this issue and it seems that for some reason the send_serialized function in zmq wants the serialization function result not as a single frame, but as a list (or other iterable) of those (perhaps it has changed some time if it worked earlier?), which cloudpickle.dumps itself doesn't provide. An obvious solution would be to change line 95 in workers.py from

`
	self.publisher.send_

[2019-07-16 00:17] cjermain opened #210 "Build failures"
The builds are currently broken. This appears to be an issue with the conda environments and the specific packages.

[2019-07-22 00:46] cjermain commented on #210
Further fixes are included in #213.

[2019-07-22 00:46] #210 closed

[2019-07-22 20:37] Endever42 opened #214 "Polytec MSA"
Hi,

I am currently implementing a python based control class for the Polytec MSA (micro system analizer). This is tricky, since it uses some windows api functions to do this and the documentation is terrible. This also means, that you cannot connect to the device, but have to run Python locally on the machine (or in my case winpython from a USB stick). So, I am not sure if this fits the pymeasure

[2019-07-25 10:34] JH0894 opened #216 "Example iv_keithley.py gives Error"
Hey everyone,

I'm new to PyMeasure and I am trying around a bit with the examples to get a feel for how it works. I tried to run the iv_keithley.py example that I found here on GitHub with a Keithley that I have. I changed the GPIB address and changed the directory. When I run the file, the window shows up. However, when I click on "queue" it gives this error (see picture). Does anyone know how t

[2019-08-05 20:14] Endever42 commented on #214
Any comments on this? Otherwise I am thinking of creating a project for this myself, but in combination with pymeasure, the exposure would be higher.

[2019-08-07 11:07] bilderbuchi opened #219 "Logging traffic"
Recently I tried to troubleshoot why an instrument I had written did not successfully communicate with the device over a serial connection, when it worked without problems via HTerm.
I would have liked to be able to log the sent/received data to see any differences, but was not able to find anything.

It would be great to have a possibility, e.g. via `logging.debug` messages, to switch on logging

[2019-08-30 15:42] 20360 opened #221 "error in pymeasure with keithley2450"
I can run the code following this link;
https://pymeasure.readthedocs.io/en/latest/api/instruments/keithley/keithley2400.html

_from pymeasure.instruments.keithley import Keithley2450
keithley = Keithley2450("USB0::0x05E6::0x2450::04407378::INSTR")
keithley.apply_voltage()                # Sets up to source current
keithley.source_voltage_range = 10   # Sets the source current range to 10 mA
keith

[2019-09-01 03:10] jmittelstaedt commented on #216
Hi,

I believe this is the same error as #168.

Some hotfixes were suggested in that thread.

[2019-09-03 18:50] Hendrixb5 opened #222 "Keithley 2410 "NotImplementedError: Please upgrade PyVISA to version 1.8 or later.""
I am trying to interface with the Keithley 2410 Sourcemeter using an NI GPIB-USB cable, but I am getting the error above.

I have the NI-VISA installed as well as the NI-488.2 drivers. Windows and NI MAX are detecting the GPIB connection fine. I am running Jupyter Notebook in Windows 10 32-Bit.

     import pyvisa
     from pymeasure.instruments.keithley import Keithley2400

     rm = pyvisa.Resou

[2019-09-04 04:36] bilderbuchi commented on #222
What is the pyvisa version you have installed?

[2019-09-04 11:19] Hendrixb5 commented on #222
It is version 1.9.0

[2019-09-04 11:28] Hendrixb5 commented on #222
I attempted to just use pyvisa to open the sourcemeter and I get the error

     VisaIOError: VI_ERROR_BERR (-1073807304): Bus error occurred during transfer.

[2019-09-04 11:46] bilderbuchi commented on #222
@cjermain @hlgirard any ideas?

[2019-09-04 13:54] hlgirard commented on #222
The pyvisa message seems to suggest the error is upstream of pymeasure. If pyvisa can't even open the connection there might be something wrong with the GPIB to USB converter (my Prologix adapter has a number of internal settings that can be changed and can break the connection to pyvisa).
I would check out a few things:

1) Check the version of pyvisa that is installed in the environment used in

[2019-09-05 21:39] jmittelstaedt commented on #221
Hi,

I think that the code in the second link you gave is old, and the `Keithley2400` object has had the `config_current_source` attribute removed or changed. The first link should have the documentation for the most recent version of the instrument, and I would think it would contain all the functionality you would need. Is there something that you saw in the second link that you don't see a way

[2019-09-08 06:59] hongcaihao opened #223 "Log error in sample/GUI !"
I ran the sample/GUI/py in spyder3.6. The error show in log !
09/08/2019 02:46:05 PM : ManagedWindow connected to logging (INFO)
09/08/2019 02:46:07 PM : Worker thread started (INFO)
09/08/2019 02:46:07 PM : couldn't connect to ZMQ context (ERROR)
Traceback (most recent call last):
  File "D:\Anaconda3\lib\site-packages\pymeasure\experiment\workers.py", line 154, in run
    self.publisher.bind('tc

[2019-09-09 13:34] Hendrixb5 commented on #222
Thanks for the replies. The computer I was working on died and I just got the replacement. I tried again and got a different error. Something to do with a bus error, BUT I changed out the GPIB cable and it all works the way it is supposed to now. You would think for the price, these things would tell you when they are bad.

Anyway, the issue is resolved.

[2019-09-09 15:49] Hendrixb5 commented on #222
Sorry to reopen this, but I tested the cable with a SourceMeter in LabVIEW on a different machine and it works fine. I am wondering if anyone has any idea as to why this would be the case?

Thanks.

[2019-09-09 16:10] Hendrixb5 commented on #222
Sorry to reopen this, but I tested the cable with a SourceMeter in LabVIEW on a different machine and it works fine. I am wondering if anyone has any idea as to why this would be the case?

Thanks.

[2019-09-11 08:02] moritzj29 opened #224 "How to code Instrument Settings with multiple Parameters"
Hi,
I'm starting my way with pymeasure and try to implement one of our instruments. Unfortunately, a lot of commands take two or more input arguments. E.g. `AIT type, mode, N`
As I understand, the preferred way to implement settings is to use Python properties. Either with the predefined functions measurement/setting/control or by setting up a custom property. But properties can only take one argu

[2019-09-11 09:39] bilderbuchi commented on #224
I think methods are your best bet, here. Properties are primarily useful because they simplify the interface for mainly simple things, which are possibly "symmetric" (for want of a better word) in getting/setting. Compare
[code]
to
[code]
For more complex things, I would just go with methods. Also, in your example, I am assuming that the in/out symmetry is not preserved, i.e. "getting" `ait` would

[2019-09-11 10:32] moritzj29 commented on #224
thanks for your fast reply! You are absolutely correct, "getting" is not even possible for those commands. So I will go with methods here.

[2019-09-11 10:32] #224 closed

[2019-09-11 14:12] bilderbuchi commented on #224
Happy to help 😄

[2019-09-11 16:43] jeffmincey opened #225 "Error creating QT GUI when FloatParameter minimum >=0.005"
pymeasure==[0.7.0](https://github.com/ralph-group/pymeasure/tree/v0.7)

if a FloatParameter param "minimum" is set to a value greater than 0.005 as the following:
[code]

then QT gui will fail with the following error:
[code]

---

Also, likely related, if minimum is set >0 and <0.005 by adding the following test case to TestScientificInput parametrize'd inputs
[code]
then this error is thrown in

[2019-09-11 17:04] jeffmincey commented on #225
just in case, here's the version of Qt I'm using:
[code]

[2019-09-14 13:34] hongcaihao commented on #223
I have modified as Kassikakk commented on 20 Jun in  #168 issue!
This problem had resolved!

[2019-09-14 13:34] #223 closed

[2019-10-18 02:32] Synthos opened #229 "[Keithley 2450] Cannot apply or measure current, but connection works"
Hi everyone,

I have an issue with a Keithley 2450. I am able to open a connection via pyVISA, functions like beep() work just find. Here is my code

`self.instrument = Keithley2450('USB0::0x****::0x****::********::INSTR')`
`self.instrument.beep(2000,1)`
`self.instrument.measure_voltage()`

But I read back None. The Keithley display, during this remote operation does not show any data. (see image)

[2019-11-08 16:27] moritzj29 opened #233 "FloatParameter default<0.01 changes to 0"
When setting the default value of a `FloatParameter` to values smaller than `0.01`, the initial value in the GUI just states `0`. This happens also for exponential notations, e.g. `1e-6`. When setting the value in the GUI everything works as expected. So it has to be related to the initial setting of the value.

I tried tracing down the error but I had no success so far. The change happens in the

[2019-11-09 15:08] badarirao opened #235 "Issue with file access in the "using the plotter " example"
Hi,
I have just begun to try the graphical interface part of the package. I see that when I run the [1st example](https://pymeasure.readthedocs.io/en/latest/tutorial/graphical.html) in the "using the plotter" tutorial, the program runs fine in spyder (windows 10 machine).
However, after the program has finished running, when I try to open the "random.csv" file, I get the following notice.
![scrnsh

[2019-12-12 21:49] hududed opened #237 "Instrument.control unreliable response problem"
Hello

I am trying to develop a new class for the instrument Lighthouse Photonics Sprout laser. The instrument reads and writes ASCII commands e.g. `OPMODE?` to check the operating mode status and `OPMODE=ON` to set the laser on.

[code]

I initiate the class and set baud rates, read and write terminations. The terminations shouldn't matter but '\r' was recommended by the company since "All replie

[2020-01-17 03:38] cjermain commented on #225
Thanks for reporting this @jeffmincey. I'll take a look at adding these test as soon as time allows. If anyone else is interested, PRs are welcome.

[2020-01-17 03:41] cjermain commented on #229
@Synthos, are you seeing any log messages when running `self.instrument.measure_resistance()`?

[2020-01-17 03:43] cjermain commented on #233
Thanks for reporting this @moritzj29. This appears to be related to #225. I will look at this problem as time allows, but certainly welcome a PR from others.

[2020-01-17 03:59] cjermain commented on #235
@badarirao, thanks for raising this issue. When you are running the example are you doing so in an interactive terminal within Spyder?

For background, a `Recorder` object keeps a handle on the file as the process is running -- this is spawned by the `Worker` object. It runs in the background and appends data to the relevant files for the `Results` object. It's likely that this thread is still goi

[2020-01-17 04:06] badarirao commented on #235
@cjermain, Yes I am running the example within Spyder.
Is there a way to stop the thread in Spyder without having to restart the kernel?

[2020-01-18 19:46] cjermain commented on #235
@badarirao, I've made a change in #245 that I suspect will fix the issue. Can you please test this change to see if it resolves the problem?

[2020-01-19 02:17] badarirao commented on #235
@cjermain, Hi, I tried the example after the change, however the problem persists.
After running the program, worker.is_alive() returns False, but opening the file still gives the same message.
I also tried invoking worker.recorder.stop() separately, however, it gave an error: "AttributeError: 'NoneType' object has no attribute 'join'", pointing to error in logging\handlers.py, line 1503, in stop

[2020-01-22 02:02] cjermain commented on #235
Thanks for checking @badarirao. Sorry to hear that it was not that simple.

Can you post the full warning that you saw regarding the `QObject` destructor?

[2020-01-22 02:18] badarirao commented on #235
@cjermain, Hi, I have pasted the screenshot of the log and warning messages seen when running the example from windows-command prompt. There were no other warnings.
![python plotter error](https://user-images.githubusercontent.com/47620203/72859950-c60d1400-3d08-11ea-9eaa-0d327a0f1140.PNG)

[2020-02-04 16:58] paulgoulain opened #246 "The best way to implement COM devices"
Hello,

I'm interested in using pymeasure for a experiment, but one of my device I want to use is controlled using a the Component Object Model. My first move was to create a new adapter that inherit the adapter class and uses win32com.client library. But when I want to communicate with my instrument, I have to use a syntax which is like that :

COMobject.name_of_the_method()

and it returns the r

[2020-02-21 12:57] bilderbuchi commented on #246
Interesting question! I also have a device that communicates via a compiled DLL, would be curious if that can be made to talk via pymeasure...

[2020-02-25 20:19] bilderbuchi opened #248 "Unit support"
I think it could be quite useful to add unit support, using pint, similar to how [InstrumentKit](https://instrumentkit.readthedocs.io/en/latest/devguide/util_fns.html#unitful-property) does it (currently transitioning from quantities to pint): Accept and return unitful values (pint `Qantity`), but also deal with plain floats optionally (then assuming a unit).

I think it should be possible to make

[2020-02-25 20:31] bilderbuchi opened #249 "Unit test extension: protocol tests"
InstrumentKit has this very neat way of testing if the instrument implementation follows an expected protocol (`expected_protocol`) and, given a defined query-response set, behaves correctly: https://instrumentkit.readthedocs.io/en/latest/devguide/testing.html#expected-protocols
@cjermain I think this could help reduce PR review effort and improve the test suite if such tests can be used to confir

[2020-02-25 20:36] bilderbuchi opened #250 "Dynamic validator limits"
I have a power supply with voltage/current limits that are changeable depending on a mode setting. I want to use a strict_range validator to check against those limits. What would be the best way to do this?
I had previously tried to do this, but did not find a way to get around the fact that the properties are attributes of the class, and I did not see how to make the values that are passed upon

[2020-02-27 00:40] cjermain commented on #249
@bilderbuchi, I think this a great idea. I've been wanting to move our `Instruments` to an automated testing suite, but have not had the bandwidth to innovate on it. This would be a great addition on a course toward a stable 1.0 release.

[2020-02-28 20:32] jasonimm opened #251 "VI_ERROR_TMO (-1073807339): Timeout expired before operation completed. with keithley 2400"
Hi all,

I connected my computer with Keithley 2400 and tried to communicate using this Pymeasure. when I executed my code. it looks connected very well because it communicate in some part.

`from pymeasure.instruments.keithley import Keithley2400
import numpy as np
#import nidaqmx
from time import sleep
import time`
`def discharging(I_para, V_lim):
    keithley = Keithley2400("ASRL1::INSTR")`

[2020-03-03 08:08] bilderbuchi commented on #250
See also https://github.com/ralph-group/pymeasure/pull/243/files/f903411e8e99a02c193ea4bf41d28da8eb890b97#diff-638e256c0011ed60431a146ca1a44939R333-R334 for another interesting use of validators

[2020-03-05 07:29] bilderbuchi commented on #83
This has been fixed in the meantime.

[2020-03-05 07:29] #83 closed

[2020-03-05 07:35] bilderbuchi commented on #90
The plotter example works by now. The error @feinsteinben @robmarkcole encounter is tracked in #168.

[2020-03-05 07:35] #90 closed

[2020-03-05 07:38] bilderbuchi commented on #89
This has been fixed in the meantime, closing.

[2020-03-05 07:38] #89 closed

[2020-03-05 07:45] bilderbuchi commented on #216
Yes, this is #168, please track that issue instead.

[2020-03-05 07:45] #216 closed

[2020-03-05 07:46] bilderbuchi commented on #197
Closing as submitter did not respond.

[2020-03-05 07:46] #197 closed

[2020-03-05 07:49] bilderbuchi commented on #194
@hududed has your question been resolved?

[2020-03-05 07:51] bilderbuchi commented on #214
@cjermain do you have an opinion about this?

[2020-03-05 07:57] bilderbuchi commented on #167
@robmarkcole this looks interesting. I think this could be part of the documentation as a [tutorial](https://pymeasure.readthedocs.io/en/latest/tutorial/index.html) - could you add/make a [PR](https://pymeasure.readthedocs.io/en/latest/dev/contribute.html#making-a-pull-request) for that?

[2020-03-05 08:00] bilderbuchi commented on #162
should be closed by #166

[2020-03-05 08:00] #162 closed

[2020-03-05 08:02] Endever42 commented on #214
I would also like to add, that I had some discussion with Polytec and they would support this (only in terms of logos and awareness).

[2020-03-05 08:07] bilderbuchi commented on #151
closed by #155

[2020-03-05 08:07] #151 closed

[2020-03-05 17:04] robmarkcole commented on #167
Hi @bilderbuchi  my wife is expecting a baby any day now so I cant make any promises

[2020-03-05 17:51] bilderbuchi commented on #167
No worries, no promises were expected. Best of luck!

[2020-03-06 10:06] bilderbuchi commented on #109
I think this has been fixed in the meantime.

[2020-03-06 10:06] #109 closed

[2020-03-06 10:08] bilderbuchi commented on #116
I think this has been fixed in 0.5, feel free to reopen if that's not correct.

[2020-03-06 10:08] #116 closed

[2020-03-06 10:14] bilderbuchi commented on #141
This should be solved with pymeasure 0.6

[2020-03-06 10:14] #141 closed

[2020-03-06 10:18] bilderbuchi opened #257 "Rename pyvisa imports"
In the upcoming pyvisa version, using `import visa` is being [deprecated](https://github.com/pyvisa/pyvisa/pull/448) to avoid a name clash with another package. We need to fix that in our codebase, too. This could also be behind the version comparison issues like #130

[2020-03-06 10:19] bilderbuchi commented on #134
Let's close this as a duplicate of #130, and continue the discussion there.

[2020-03-06 10:19] #134 closed

[2020-03-06 10:22] bilderbuchi commented on #143
See #94 for the issue about compatibility with IK

[2020-03-10 11:02] tinix84 commented on #246
I had done something similar already for a lecroy oscilloscope https://github.com/tinix84/pymeasure/tree/master/pymeasure/instruments/lecroy
I used this adapter
https://github.com/tinix84/pymeasure/blob/master/pymeasure/adapters/activedso.py

[2020-03-10 11:22] tinix84 commented on #136
im saving everything in mat file with this package https://pypi.org/project/mat4py/, for simple data is ok, if you need complex numbers or struct in matlab is better the scipy

[2020-03-11 23:27] danjohare opened #260 "iv_keithley.py"
Did not work for me. I noticed compliance had a typo.
The graph displays, the file is started but no data populated.
I do not see any signs of life on the Keithley front panel. It is
a 2400 and I set GPIB to 30 in hardware and code.

Any new versions that might not have issues ? I would love to use it!

[2020-03-13 08:59] bilderbuchi commented on #260
Hi! I am not sure how current that example is. Do you have a Keithley2000 available and connected, too?
You're right about that typo, nicely spotted.
I tried to reproduce with a Keithley2400 I have around, but I'm hitting #168 upon pressing Queue before anything meaningful happens.

[2020-03-15 13:29] jmittelstaedt opened #261 "Live Image Plotting Bugs and Improvements"
This is an issue to track any bugs or other issues with the live image plotting introduced in PR #157.

One of the major findings so far was that after changing the image plotting behavior to only show one image at a time, after changing which image was shown the axes would begin zooming out uncontrollably. This is the same behavior seen in #54. For now, we allow multiple images to be shown on top

[2020-03-17 18:39] paulobear opened #262 "Plain Vanilla Ethernet Adapter?"
I am trying to communicate with a Fluke 1594A SuperThermometer. I have the documentation for the instrument which details the ASCII messages. I have created a driver for the instrument using the PyMeasure Instrument class. The vast majority of the messages fit into the Instrument.control(), Instrument.measurement() and Instrument.setting() paradigms.

I want to communicate with the instrument over

[2020-03-17 19:43] bilderbuchi commented on #262
Have you tried with a [pyvisa-compatible](https://pyvisa.readthedocs.io/en/latest/introduction/names.html#visa-resource-syntax-and-examples) TCPIP resource name, and either the default adapter or specifically a VISA adapter?

[2020-03-18 17:59] paulobear commented on #262
Thanks bilderbuchi - I am currently locked out of the building, since we're on COVID-19 hiatus. I will give this a shot when I get back to the office.

[2020-03-25 17:08] paulobear commented on #262
UPDATE - I have had success with using the VISAAdapter from the point of view of constructing the adapter with a VISA TCP SOCKET resource ID. Of course, when I try to actually write anything, I get a connection refused error. I could, and may, create a socat object to capture the data. Or I may attempt to create an instrument simulator.

[2020-03-25 17:17] paulobear opened #264 "Instrument Simulator Development?"
Since I am locked out of the lab where all the equipment is, but am in need of developing device drivers, procedures and experiments, I thought that I might develop instrument simulators to support this work. I looked through the pymeasure code and see the Mock class, and FakeThis and FakeThat. But I don't see any examples of how to use them?

I imagine that a simulator would look pretty much like

[2020-03-26 06:53] bilderbuchi commented on #264
You're right, this is not heavily used right now.
One idea/approach to extend unit test with a "simulated" instrument is #249. The idea is that you know, e.g. from instrument manual examples, what messages will be sent to the device (even including termination chars) and what it will then be returned (the "protocol"). That can then be used to implement unit tests that check if the Instrument drive

[2020-03-26 06:54] bilderbuchi commented on #262
Great! Feel free to leave this open until you are able to check, or close it already, depending on your confidence :D

[2020-03-26 14:13] paulobear commented on #264
Thanks, bilderbuchi. Can you describe in short fashion how the pymeasure unit tests work? I see in the docs how to add new instruments and then invoke the unit test VMs, but it's not clear what those unit tests actually check and the mechanism.

[2020-03-26 17:57] bilderbuchi commented on #264
@cjermain is much more authorative on that. I can say that you can use pytest to run the tests, and that there are [nearly no tests](https://github.com/ralph-group/pymeasure/tree/master/tests/instruments) testing instrument implementations, what is there is mostly for surrounding functionality. This is a hole that #249 could help plug.

[2020-03-26 18:04] Satertek commented on #264
If you're utilizing VISA devices, be sure to look into pyvisa-sim.  I've updated our in-house tools to utilize this and so far it has gone well.  (We'll see when I can hook back up to real equipment)

This may be something can can be integrated into pymeasure.

[2020-03-29 15:09] cjermain opened #265 "ManagedImageWindow inherit from ManagedWindow"
The `ManagedImageWindow` in #157 does not inherit from the `ManagedWindow` class, which leads to some code redundancy and lacking support for the sequencer. This issue tracks moving both classes onto the same base class, or inheriting from the `ManagedWindow` class.

[2020-04-06 18:03] paulobear opened #268 "Yet Another Plotter Class Issue"
Sorry, not trying to be snippy. I just see that there was a fair amount of issues back in 2017 that were purportedly solved with moving Plotter off of a process into a thread.

I am running Ubuntu 18.04, Anaconda v4.8.3, pymeasure 0.7.0, pyqt 5.12.3, pyqtgraph 0.11.0rc0.

When I run the example in the documentation, or the script_plotted.py in examples, I get this error:

`WARNING: QApplication wa

[2020-04-09 14:49] NitramC opened #269 "Adding methods as possible map types in Instrument.control"
I would like to use Instrument.control to get a property, but the motion controller I'm working with (PI E-873.3QTU) returns a string `"<axisID>=<value> LF"` rather than the bare `<value>`. This is because the instrument can get multiple properties with a single command, returning one line for each property. Note too that `<axisID>` is dynamically user defined.

Example command from the manual:

[

[2020-04-09 15:04] NitramC commented on #269
Sorry... should have read the docs more carefully. The argument get_process does just this.

[2020-04-09 15:04] #269 closed

[2020-04-11 13:51] NitramC opened #270 "Read all instrument responses in the buffer"
The motion controller I'm working with (PI E-873.3QTU) returns multi-line responses `"<axisID>=<value> LF"`, where `LF` stands for linefeed, and is used as the termination character. Seems like bad design to use the same character as both a separator and a termination character... but that's how it is. Here is an example (white space for clarity):
axis1=10.0\n axis2=20.0\n axis3=30.0\n

How do I r

[2020-04-11 21:46] NitramC commented on #270
I am going with the idea provided by @MatthieuDartiailh here: https://github.com/pyvisa/pyvisa/issues/504

So closed, unless someone has a better approach.

[2020-04-11 21:46] #270 closed

[2020-04-12 06:53] bilderbuchi commented on #270
Yeah that approach is quite elegant, I'm not sure we could provide something better. Glad that the instrument manufacturer at least left _some_ way to disambiguate between separators and message termination! 😅

[2020-04-28 21:38] paulobear opened #271 "Running Multiple Simultaneous Procedures"
I have been working on an instrument calibration project which requires simultaneous communication with multiple measurement instruments. One is a temperature controlled bath, which is stepped from one temperature to another (say 40 C to -20 C in -10 C steps). Another is a precision thermometer which is used as the reference standard. A third is a suite of up to eight custom scientific instruments

[2020-05-06 04:23] scasagrande commented on #249
There's lots of better ways one can test the drivers if I were to do it from scratch. I'd still follow the same general style as what I have, but with the following:

- include a captured copy of input/output in an accompanying structured format file, and automatically test against it if the file is present with no/minimal boilerplate. Sometimes when developing the tests I was making guesses on th

[2020-05-06 07:05] bilderbuchi commented on #249
Thanks for the insight, those points sound good!

That query-response record would be useful. I think iterating through all available functions is not too complicated, but the devil will be in the detail, for example
* concerning functions that are not applicable in the present situation, for example because it needs some specific setup, and error handling in that situation (we don't want to recor

[2020-05-06 14:20] scasagrande commented on #249
- add a decorator to signify the requirements, which the scanner can then automatically skip over any its can't satisfy
- if the driver spits out unitful quantities you can just include an acceptable tolerance range for executing tests against real hardware
- it should be deterministic so diffs would be straight forward
- hypothesis check data validation, IK eg: the property factories, and should

[2020-05-10 15:07] bilderbuchi commented on #88
This has actually been fixed by #171

[2020-05-10 15:07] #88 closed

[2020-05-10 16:41] bilderbuchi opened #272 "PyVISA keyword `delay` replaced by `query_delay`"
So, since pyVISA 1.6 (quite some time ago), it seems that the `delay` kwarg needs to be replaced by `query_delay` - I think we just missed that.
https://pyvisa.readthedocs.io/en/latest/faq/migrating.html#removal-of-instrument-delay-and-added-instrument-query-delay
As we [still have](https://github.com/ralph-group/pymeasure/blob/e48f9d679d6ee970e2e875d2fc9a5679378b07aa/pymeasure/adapters/visa.py#L5

[2020-05-11 23:07] cjermain commented on #272
Thanks for raising this @bilderbuchi. I agree that it is reasonable to replace the `delay` field with `query_delay`. It's not clear to me if the Agilent case requires the write delay, so `query_delay` is likely a good replacement. If that need does arise, we could always implement it with `time.sleep` in the adapter.

[2020-05-14 08:01] bilderbuchi commented on #271
Phew, out of my depth on that question, but running multiple procedures could be useful. In my case, I would like to start a setup/experiment, observe/plot for a while, while also being able to interact with the instruments (e.g. via buttons/GUI fields), then kicking off a defined procedure. That could be done maybe with an "endless" procedure running in parallel. Or maybe better with a `procedure

[2020-05-14 08:30] bilderbuchi opened #273 "StoppableThread join behaviour weird"
I noticed that the `join` method of `thread.StoppableThread` does not match the `threading.Thread.join` behaviour, especially concerning blocking.
I realised that, if I have a StoppableThread running with some cleanup procedure (e.g. to cleanly shutdown instruments), and then I call stop() and join(), it immediately joins/terminates the thread without blocking until the cleanup has run its course.

[2020-05-14 15:45] paulobear commented on #271
Hi bilderbuchi - I actually have created two classes based on Plotter and PlotterWindow called MultiPlotter and MultiPlotterWindow as an initial foray into this area. Please see the attached files. The file which actually uses the MultiPlotter* classes won't work for you, but will give you some idea about how to use the new MultiPlotter classes.

I've been thinking about this a bit in terms of Man

[2020-05-23 06:44] very3b commented on #168
works for me, thanks

[2020-05-30 14:03] reliable-bam opened #279 "Adding new instruments?"
I'm very new to python, but need to develop some code for an RF test bench in a hurry. I've done SCPI / GPIB command level control in other environments before, and I was hoping there was a quick way to convert / import drivers from other formats rather than banging out the code myself. Is there a sticky instruction or other generic script to add new instruments? Specifically I need an Agilent pow

[2020-05-31 19:07] bilderbuchi commented on #279
There is not automated import function. I think the best approach (and what I mostly end up doing) is to get the manual and implement the commands you need, and test those. If it's a straightforward SCPI device, the effort is mostly quite limited - define a class and implement a handful of control/measurement/setting properties, and some methods for stuff that is not really usable as a python *pro

[2020-06-04 12:19] reliable-bam commented on #279
It helps to know what's what. I made a basic script for addressing and measuring a Keysight E4417A with dual power heads, and it seems ok. I can go back and add more functionality before submitting it to the instrument library. I'm still quite new, and haven't gotten all the style, tricks, and grammar down yet.

import logging

log = logging.getLogger(__name__)
log.addHandler(logging.NullHandler()

[2020-06-05 11:17] reliable-bam opened #280 "Running scripts in sequence?"
I need to call several different parametric sweeps and save data at different time intervals, and am struggling on the implementation with procedures / experiments. I have a DC voltage sweep derived from the Keithley IV process/GUI example, and have a separate script for an RF power sweep controlling 2 instruments (Keithley SMU and Agilent power meter). I would like to have a main control program

[2020-06-06 12:23] bilderbuchi commented on #194
No response from the reporter, and I agree with @jmittelstaedt's assessment that this probably has nothing to do with termination, so closing this. Feel free to re-open if you still have this issue.

[2020-06-06 12:23] #194 closed

[2020-06-06 12:30] bilderbuchi commented on #237
@hududed do you still have this problem? With the code you give above (which looks reasonable/correct to me), it is puzzling why you get the 'OPMODE=ON' reply when asking for  `laser.power`! I suspect that this could be a specific quirk of the instrument in question (check the manual). Same for the delay until you get the correct response, this could be the intended instrument behaviour. You could

[2020-06-06 12:41] bilderbuchi commented on #160
So, a workaround for this issue is to supply the `read_termination`  and `write_termination` kwargs when creating the Instrument, and supply the port defintion as a string, and you will automatically use the VISAAdapter that can deal with this cleanly.

If, as an instrument developer, you want to make sure that the correct terminations are used then set the termination kwargs as defaults in the `_

[2020-06-06 12:44] #272 closed

[2020-06-06 19:58] bilderbuchi commented on #170
@thosou I have fixed the other issues you mentioned, so only the SCPI property issue is left. I think the approach you mention last is valid and probably the best we can do.
I think but I'm not 100% sure if we can exclude any impact down the line when we dynamically inject a child class into the inheritance hierarchy like that -- will that work correctly with instruments inheriting from `Instrumen

[2020-06-06 21:33] bilderbuchi commented on #186
@hlgirard did you ever get to the bottom of this? Possibly you have to enable that the SMU even flags this, I find in the manuall of the 2400 the table 15-8 "Program and read register programming example", where the buffer-full bit is enabled:
[code]
so possibly one has to enable that register first.

[2020-06-06 21:36] #130 closed

[2020-06-06 21:36] #257 closed

[2020-06-07 08:50] thosou commented on #170
Hi @bilderbuchi,
Thanks for getting back on this and sorry I put that one on hold. I think there was a small issue I was not happy with in my latest proposal. I cannot remember what but I am actually getting access to a lab soon. I will be happy to help on this.
Among the options, one could be to make 2 different classes, for SCPI instruments and none-SCPI instruments.

[2020-06-07 17:07] hlgirard commented on #186
@bilderbuchi I ended up working around this by implementing the buffer client-side since I didn't need the additional sampling frequency made possible by instrument-side buffering.

Your comments make a lot of sense, unfortunately I non longer have access to the instrument so I won't be able to test them.

[2020-06-08 18:34] hududed commented on #237
Hi @bilderbuchi
I haven't had an issue so far with this although I dont quite remember what I did to change this.
So I guess I'll close this!

Cheers

[2020-06-08 18:34] #237 closed

[2020-06-10 07:00] bilderbuchi commented on #186
OK thanks. I have access to a device - do you know a quick way to fill up the buffer, so that I can test any fixes I make?

[2020-06-10 11:14] bilderbuchi opened #285 "Travis status indicator is missing in PRs"
Our PRs are missing the status indicator for the Travis CI builds. I think we need to go to a new way of using Travis with Github. @cjermain I suspect as the travis account owner you need to do [this](https://docs.travis-ci.com/user/migrate/legacy-services-to-github-apps-migration-guide/#migrating-and-activating-all-repositories) for the pymeasure repo in the ralph-group org, but I have not analys

[2020-06-11 02:37] axs5489 opened #286 "stop_power is mislabeled in agilent8257D.py"
There are two start_power definitions (lines 74 & 80 respectively) in /pymeasure/pymeasure/instruments/agilent/agilent8257D.py

Second start_power (line 80) should actually be stop_power

[2020-06-11 02:54] axs5489 commented on #279
I'm quite new to pymeasure (& github apparently), but I've been writing my own instruments classes modeled somewhat after pymeasure Instruments. Sorry not sorry for tabs.

`from pymeasure.instrument import Instrument
from pymeasure.validators import strict_range, strict_discrete_set
import time

class AgilentE4418B(Instrument):
	def __init__(self, name, adapter, enableSCPI=True, **kwargs):
		super

[2020-06-11 11:10] bilderbuchi commented on #279
You can put code samples into blocks by putting 3 backticks (```) in the lines before and after. I fixed that already here.
Yeah, those look like pretty typical implementations. one remark: @reliable-bam I don't know why you have both a property and a measA() method, that seems redundant to me.

[2020-06-11 11:11] bilderbuchi commented on #286
Indeed, good catch! Would you submit a PR with the fix? https://pymeasure.readthedocs.io/en/latest/dev/contribute.html

[2020-06-12 01:21] axs5489 commented on #286
Took my a while to figure it out as a hardware engineer barely out of college with no experience in team-based software development,
https://github.com/ralph-group/pymeasure/pull/287

[2020-06-12 01:21] #286 closed

[2020-06-12 09:13] bilderbuchi commented on #286
you did great, thanks!

[2020-06-12 09:36] bilderbuchi commented on #285
This is probably fixed now (working on a branch push), let's wait for the next PR update to verify that that shows the travis result, too.

[2020-06-12 21:29] reliable-bam commented on #279
@bilderbuchi No reason, except just learning how to use classes, methods, and the like.

@axs5489 Appreciate the sample code. I definitely want to implement good instruments, and will replace what I have with yours!

[2020-06-14 15:47] hlgirard commented on #186
It has been a while but if I remember correctly, I used to set the sampling program on the instrument itself (say 1000 points over 2 seconds) and trigger programmatically.

The idea was to use the very fast sampling speed available to the instrument itself by doing a cycle of triggering, waiting until the buffer is full, retrieving the data, erasing the buffer, and triggering again.

[2020-06-15 04:34] Harvey1024 opened #289 "visa.py: How to get binary values without data format."
``` visa.py``` function: ```binary_values()```, return  ```np.fromstring()``` after getting binary string,
How to just return binary string without data format?

The binary string read from the instrument is like this:
[code]

[2020-06-15 07:04] bilderbuchi commented on #289
Does the PyVISA [query_binary_values](https://pyvisa.readthedocs.io/en/latest/introduction/rvalues.html#reading-binary-values) method help you? You should be able to access that using `myinstrument.adapter.connection.query_binary_values(args..)`.

[2020-06-16 14:26] #279 closed

[2020-06-19 14:04] #285 closed

[2020-06-25 08:56] PYmeas commented on #221
Hello

new into pymeasure using keithley. I am having a similar issue on a K2420 :AttributeError: 'Keithley2400' object has no attribute 'config_current_source', I am using RS232/USB connection, working fine on some piece of code but for complex acquisition it s troublesome, any idea if an updated version of the code or the keithley class has been updated?
thanks

[2020-06-26 03:39] PYmeas commented on #197
Hello,

having some errors with the pymeasure tutorial for Keithley 2400 below, it seems so command have change or not used anymore. such as
sourcemeter.config_current_source() and sourcemeter.set_buffer(averages) i believe the first one can be replaced by .apply_current and the second one by .config_buffer() but then i get some error 800 error i dont get it. if anybody has an updated tutorial to

[2020-06-26 06:05] bilderbuchi commented on #221
Yes, this is a left-over documentation bug from an API change, `config_current_source` should be replaced with `apply_current` (attention: order of args changed). Can you submit a fix of the docs?

[2020-06-26 06:08] bilderbuchi commented on #221
Same with the `set_buffer`-> `config_buffer` change you identified in #197

[2020-06-26 06:13] bilderbuchi opened #292 "Small deprecation warning"
The Travis pytest run [warns](https://travis-ci.org/github/ralph-group/pymeasure/jobs/700083662):
[code]
That should be diagnosed and fixed at some point.

[2020-06-26 06:20] PYmeas commented on #221
Thanks for the feedback. I got these 2 right but the tutorial still not running properly having some trouble in the current loop error displayed
sourcemeter.current = currents[i]
AttributeError: can't set attribute

also the source seems not enabled

anyone familiar with this type of data acquisition, i am novice in python.

[2020-06-26 06:23] PYmeas commented on #221
at the same time while running the code the Keithley 2420 displays error : ID = 800 and under illegal with storage active.

[2020-06-26 06:51] bilderbuchi commented on #221
Unfortunately, the Keithley24x0 is a rather complex device. In your first case `sm.current` is only for _reading_ the current the device detects (it is a "measurement" in Pymeasure parlance, as opposed to a "control" (https://pymeasure.readthedocs.io/en/latest/api/instruments/instruments.html#pymeasure.instruments.Instrument.measurement).
To set the source quantities, you need to use the `source_v

[2020-06-26 06:55] bilderbuchi opened #294 "Fix Sphinx warnings/errors"
Our doc tests in CI emit a [number of warnings](https://travis-ci.org/github/ralph-group/pymeasure/jobs/702279699#L745-L751) that would be nice to fix.

[2020-06-29 07:16] PYmeas commented on #221
I managed to clear the code to acquire an I-V on a Keithley 2420 and plot the data. there were a few old commands utilized and too many buffer related commands conflicting. The enable source command was initially missing. Below a running code.
[code]
![Figure_1](https://user-images.githubusercontent.com/67412574/85984015-18223600-ba1b-11ea-90d5-5d90cf89b579.png)

[2020-06-30 17:27] Applepi opened #296 "Question regarding prefered implementation of non-SCPI devices"
What is the preferred approach to add support for instruments that do not use SCPI to interface with the adapters. My thinking would be to write an interpreter to convert the non-ascii commands to SCPI commands, the reason for this being that some devices such as thorlabs rotation stages and such require to use either DLL or to send direct serial commands using APT and they possible bytes for the

[2020-07-01 07:25] bilderbuchi commented on #296
Some discussion around frame-based communication can be found in the comments of #239. We think it implementing a separate Adapter class for frame-based communication would be most useful, maybe based on pyVISA RegisterBasedResource, but I have not yet investigated this in detail due to lack of time.

[2020-07-13 05:55] PYmeas opened #297 "live plotting of Dates and time"
I am using a pymeasure procedure to acquire measurement and plot in real time. while the .csv contains all the data the live plotting fails when i choose time as x-axis parameter. I would like to plot x as exact time of measurement or the elapsed time from starting point.
 one of the error displayed says:
    |  ValueError: could not convert string to float: '13:45:34'
and another one:
TypeError:

[2020-07-15 08:06] #297 closed

[2020-07-15 08:19] PYmeas opened #298 "is there a way to count the number of experiments in the queue in ManagedWindow"
i am using the managedWindow for live plotting as below. after each click in queue i generate a new file to save the respective data. i used date and time format as filename for .csv file. i was wondering if there is a queue counter that can be used or implemented so that i can just use it instead of date and time to save filenames i.e queue 1 gives filename_1.csv, queue 2gives filename_2. csv and

[2020-07-16 05:35] #298 closed

[2020-07-19 06:43] PYmeas opened #299 "Live plotting with Managed window cannot read the updated parameters after new experiment queued"
I am using the managedwindow to live plot IV from a keithley2420.  It works but for some reason i cannot pass a parameter defined in the IVprocedure class into the queue function. here i define a parameter **_mode_** that takes the nature of the measurement 2 or 4 wires. when i queue experiments i can change that parameter in the GUI and record a new set of data. i can check in the keithley that t

[2020-07-20 07:13] #289 closed

[2020-07-20 07:14] Harvey1024 commented on #289
Thanks, it works.

[2020-07-23 14:11] ccory2004 opened #300 "Keithley 2400 does not respond to commands"
When using Keithley 2400 with Pymeasure over a Serial Adapter(RS-232), it will not print out its own identifier. However, it is evident that the connection has been applied to the sourcemeter, because the REM label, for remote control, is lit up on the screen.

I feel I might be missing something obvious here, but I'm not sure what.

The code I am running:
[code]

[2020-07-23 14:33] bilderbuchi commented on #300
Does it work if you don't construct a serialdapter separately, i.e. pass the port to the constructor as string?

[2020-07-23 14:46] ccory2004 commented on #300
When I change line 4 to `keithley = Keithley2400(SerialAdapter("COM3"))` throws the error "AttributeError: 'SerialAdapter' object has no attribute 'connection'"
If I list resources with PyVISA, it gives me the resource "ASRL3::INSTR". Putting that into the script throws the error "NotImplementedError: Please upgrade PyVISA to version 1.8 or later."
Checking the version of PyVISA get me '1.10.1', w

[2020-07-24 02:11] #299 closed

[2020-07-24 02:25] PYmeas commented on #300
I use "from pymeasure.instruments.keithley import Keithley2400" then "sourcemeter = Keithley2400("ASRLxx::INSTR")" with an RS232 I had a similar issue but that was due to the terminator on the Keithley that must be set to CR+LF terminator as most computer. you can also test with the NI Visa interface first to check if any proper communication the the REM tag alone is not enough. make sure you get

[2020-07-24 06:07] bilderbuchi commented on #300
@ccory2004 whatis your pymeasure version? Is this up to date? Can you try with latest master to make sure that the problem has not been fixed in the meantime?

[2020-07-24 13:52] Mike-HubGit opened #301 "VI_WARN_CONFIG_NLOADED not understood"
Starting from the very simple code :
[code]
I always get a warning :
[code]

I run pymeasure un Mac. Someone knows ?

Best Regards,
  Mike

[2020-07-24 14:01] ccory2004 commented on #300
@PYmeas changing the line to `keithley = Keithley2400("ASRL3::INSTR")` errors with "NotImplementedError: Please upgrade PyVISA to version 1.8 or later." I'm not sure what you mean by the CR+LF terminator. Is that a setting I have to change? I am able to connect to the Keithley 2400 with PyVISA and query the device, outputting the instrument ID. It is "KEITHLEY INSTRUMENTS INC.,MODEL 2400,1369030,C

[2020-07-24 14:56] PYmeas commented on #300
CR+LF terminator must be set on the keithley instrument : configuration/
communication/ rs232/terminator.  First time i installed pymeasure few
weeks ago i could not get the instrument ID and that was only due to this
terminator setting. Now have no issue with rs232.

On Fri, 24 Jul 2020, 22:01 ccory2004, <notifications@github.com> wrote:

[2020-07-24 15:03] ccory2004 commented on #300
Hm...it seems the terminator was already set to <CR+LF>, and I was able to get instrument ID by PyVISA through querying *IDN?, but not through PyMeasure by querying sourcemeter.id.

[2020-07-24 15:16] PYmeas commented on #300
These terminator must be same on computer and instrument. Usually on
computer it s cr +lf it may not be the case for you. just try the other
terminator on the instrument to check if one combination fit.

On Fri, 24 Jul 2020, 23:03 ccory2004, <notifications@github.com> wrote:

[2020-07-24 18:36] ccory2004 commented on #300
@PYmeas It looks like Cr +LF is standard as the terminator on Windows systems? If that is the case, then both the Keithley and my computer are set to the same terminator. Nonetheless, I am still getting errors.

[2020-07-24 19:47] bilderbuchi commented on #300
Cr-lf is the standard *line* terminator for text files in Windows, yes, but this is only tangentially related to communication terminators. You can adjust the terminator setting in the keithley instrument settings (i.e. in the device in your table), and if this does not match the setting in the pymeasure instrument then comms can fail.

[2020-07-24 19:49] bilderbuchi commented on #301
Do you get the same when using pure pyvisa, without pymeasure Instrument in between?

[2020-07-26 10:58] PYmeas commented on #75
Hello,

I can save multiples files generated from queued experiments from Keithley 2420 but i want to use a label _type_mode_ in the filename that is updated in the execute() from the Randomprocedure class. here i use fake data for testing purpose I am getting a NameError: name 'type_mode' is not defined. I understood that variable exit only within a class but i thought by inheriting Managedwindow

[2020-07-26 16:36] ccory2004 commented on #300
@bilderbuchi I've tried all 4 terminators to no avail. The code I tested with was:
[code]

[2020-07-26 17:47] physicsninja opened #302 "Trouble with scoping"
Originally posted by @PYmeas
Hello,

I can save multiples files generated from queued experiments from Keithley 2420 but i want to use a label _type_mode_ in the filename that is updated in the execute() from the Randomprocedure class. here i use fake data for testing purpose I am getting a NameError: name 'type_mode' is not defined. I understood that variable exit only within a class but i though

[2020-07-26 17:49] physicsninja commented on #75
I have opened a new issue for your question, @PYmeas because I don't think if falls under the scope of the issue discuss here, see my response there

[2020-07-26 18:12] physicsninja commented on #302
I don't remember enough about how the code is structure to explain why I think that `type_mode` defined in the `execute` function of `RandomProcedure` will not escape the local scope of the `execute` function even with the global invocation earlier, but suffice it to say that I don't think it will. Someone can correct me if I am wrong.

The reason you always get 2 when you invoke `self.mode` in th

[2020-07-26 18:12] #302 closed

[2020-07-26 18:17] physicsninja commented on #302
Alternatively you could also keep the `type_mode` logic in the procedure, and just make it a class attribute:

[code]
then you could call `procedure.type_mode` in the `queue` function
def queue(self, *, procedure=None):
    self.count = self.count + 1
    if procedure is None:
        procedure = self.make_procedure()
    # Now we have an instance of the procedure with whatever inputs have actuall

[2020-07-26 19:51] PYmeas commented on #302
@physicsninja thanks a lot. option 1 is working fine.
option 2 is actually the format i was searching but without considering the logic upshift of `procedure `. Nevertheless there is still an attribute error despite the declaration in `execute()` : error AttributeError: 'RandomProcedure' object has no attribute 'type_mode'.

[2020-07-26 20:14] physicsninja commented on #302
Oof, you're right, there would be that error in the second method I suggested. I didn't think it through. The `execute` method isn't invoked until the queued procedure is actually run, which doesn't happen until after it is queued, much later than when the filename needs to be produced

[2020-07-27 05:10] PYmeas commented on #300
@ccory2004 I connected to a Keithley 2420. i ve tried the following options:
**1** i checked using NI Visa app if any connection issue (terminator issue mentioned previously). I do get my instrument ID.
KEITHLEY INSTRUMENTS INC.,MODEL 2420,1314433,C34 Sep 21 2016 15:30:00/A02  /H/L

**2** i tried your lines:
[code]
_Output_:  the REM tag in on but i don't get the ID on the output.

**3** i tried u

[2020-07-27 16:53] Mike-HubGit commented on #301
I checked and yes it does. A code as simple as :
[code]
drops this warning. Any idea why ?

[2020-07-27 20:14] ccory2004 commented on #300
@PYmeas The only reason I was using SerialAdapter is because it was recommended as a solution in #222. The VISAAdapter works great, and the 4th snippet of code works for me.
I originally thought the VISAAdapter could only be used with GPIB-USB devices from NI, but it looks like RS-232 works just as well.
Thank you for your help!

[2020-07-27 21:02] #300 closed

[2020-07-29 10:58] qm2k opened #303 "Mailing list?"
Dear PyMeasure community! I could not find any mailing list where casual quesions on usage and contribution could be asked. Don't you think having one would be a good idea?

Meanwhile, here's my question:

I need to write a measurements automation code with the following requirements:
* solid 24/7 unattended operation
* reliable and early error detection
* easy addition of necessary drivers (we wo

[2020-07-29 15:21] PYmeas commented on #280
@reliable-bam I am looking for something similar but rather write each procedure separately and then import each of them in a main script. The issue i face now is that when i import my pymeasure e.g experiment.py script it doesnt execute and no errors displayed while the other instructions execute. Doing the other way around i.e. the instructions into my pymeasure module works but i have no contro

[2020-07-29 16:38] PYmeas commented on #302
@physicsninja having this procedure up and running in standalone. can i define various experiments using the same framework and then import each procedure as module in a main script?
print('hello") # output hello
import experiment  # script using the pymeasure procedure for experiment  - this one doesnt execute?
import cleanfolder # a script to erase specific files after running the experiement (t

[2020-07-30 04:35] PYmeas commented on #302
@physicsninja question solved

[2020-07-30 20:03] paulgoulain commented on #303
Hi,

I don't have the knowledge to tell you if PyMeasure is the library you need for your project or not but out of curiosity, what would be the use case of asyncio in your project ?

[2020-07-31 13:21] qm2k commented on #303
To query multiple devices simultaneously. In the simpliest case, to control multiple identical setups and perform multiple identical experiments over different samples. Some equipment can be shared between setups so it is more complicated than just running several independent Python processes.

[2020-08-01 09:47] Daivesd commented on #299
Hi! I may have a suggestion for your issue which is probably more a workaround than a proper solution ...
Since both the inputs and sequencer_inputs objects defined in the __init__ istance of your ManagedWindow class belong to qt textbox widgets, you could resort to the textbox method text() to recover the string in the textbox.
In a nutshell: filename = 'D:\\test\\' + str(dt.now().strftime("%m%d%

[2020-08-01 11:11] PYmeas commented on #299
Thanks for your time @Daivesd , tested it , it does work for the update of the filename but then the execute is stuck so i believe the variable is not updated in the queue or the format is wrong. I ve been proposed a working solution here [Trouble with scoping #302](https://github.com/ralph-group/pymeasure/issues/302). I am now able to run various experiments and save with different filenames and

[2020-08-01 12:55] Daivesd commented on #299
Ok sorry I didn't realize this issue was already solved in another topic! Actually the 'real' solution is even more general and will work even when using sequencer in ManagedWindow as it sets the relevant parts of the filename in the procedure itself!
thank you very much for pointing that topic out

[2020-08-01 13:50] Daivesd opened #305 "Keithley 2600 series driver"
Hi guys! First of all thank you very much for your great job developing this project, I find it not only very usefull for everyone working in a lab, but also a great opportunity to share know hows and bunch of knowledge 👍
Now to the proper question: for my experimental setup I need to drive a Keithley sourcemeter belonging to the 2600 class; I was wondering if anybody was working on a functional d

[2020-08-02 06:44] bilderbuchi commented on #301
Thanks. Sorry, I have no idea what could cause this, but this makes me think this is not something caused by pymeasure. Can you take this up with [PyVISA](https://github.com/pyvisa/pyvisa/issues), please?

[2020-08-02 06:44] #301 closed

[2020-08-02 06:49] bilderbuchi commented on #305
Great that you like it, thanks for the praise! :bow:
I am not aware of anyone working on this. If it's a sourcemeter, maybe the implementation of the Keithley2400 or 2450 sourcemeters can be a template for your implementation? If the command set is identical, or a subset of your instrument's, it might even make sense to inherit from those and just add any needed tweaks/additional commands.

[2020-08-02 07:16] bilderbuchi commented on #303
Hi! Yes, we don't have a mailing list because as far as I know this has always been a low-traffic project. Maybe when [Github discussions](https://github.blog/2020-05-06-new-from-satellite-2020-github-codespaces-github-discussions-securing-code-in-private-repositories-and-more/#discussions) is generally available, we can easily add that aspect of communication here.

I would say it is in fact easy

[2020-08-02 08:00] Daivesd commented on #305
Yes my starting point actually was the Keithley 2400 code ^^ the commands are kind of different, mainly because the 2600 series has two separate channels.
I guess I'll keep on working to my version of the driver and try to pull it to the project asap :) Thanks!

[2020-08-02 09:20] bilderbuchi commented on #305
Check out [this instrument](https://github.com/ralph-group/pymeasure/blob/07cf309b8d113931525c8cc216cc704f2b7ff413/pymeasure/instruments/tektronix/afg3152c.py) for a way to implement channels in a device driver.

[2020-08-02 14:24] Daivesd commented on #305
Oh thank you very much! I actually went for a quick and dirty solution, creating two separate classes in which each channel command is hard-coded... not that pretty but still it's working for me :P I'll change the code to this more elegant way btw

[2020-08-02 17:17] Mike-HubGit commented on #301
I will do.

[2020-08-03 06:44] PYmeas commented on #280
@reliable-bam using a main as below file i can call 2 experiments running in parallel but on 2 different windows, i could not manage to have what you defined in your queue() with your sequence of procedures. i only get the first one executed and plotted while the second one is ignored even by putting all procedure and managedwindow in same file. did you managed to have your sequence executed and d

[2020-08-03 16:02] PYmeas commented on #271
I manage to run 2 procedures in parallel on 2 different windows but I d also like to observe the execution of various procedures on the same window. I added an integer (devices) in the parameter of each procedure and put an if statement in the queue to choose the corresponding procedure but i get the AttributeError: 'NoneType' object has no attribute 'devices' error. I did shift up procedure call

[2020-08-07 17:25] PYmeas opened #306 "RuntimeError: wrapped C/C++ object of type QPlainTextEdit has been deleted when calling multiple live plot using Managedwindow"
I am trying to run 2 live plots under managedwindow. I call an additional GUI using PyQt5 to allow the user to choose which procedure to run. While the execution of the procedures is normal and the data recorded, when the second procedure is chosen and the queue button pressed, this error message appears.
**RuntimeError: wrapped C/C++ object of type QPlainTextEdit has been deleted.**

[example_tes

[2020-08-11 14:45] PYmeas commented on #306
The problem is solved should anyone faces this issue one must make sure that the Classes using Managedwindow are called in the definition of the GUI.

[code]

[2020-08-11 14:45] #306 closed

[2020-08-19 07:46] PYmeas commented on #260
Hello, I am trying to implement an IV procedure and plot using managedwindow while it works fine with random number i am having an attribute error when i connect toa Keithley 2400. using IV code on standalone without procedure works.
the error displayed is:
8/19/2020 03:38:50 PM : Worker caught an error on <IVProcedure(status=Running,parameters_are_set=True)> (ERROR)
Traceback (most recent call la

[2020-08-25 16:26] physicsninja commented on #260
@PYmeas Your issue indicates that the ```IVProcedure``` instance run by the worker isn't getting the attribute ```sourcemeter``` assigned. This is weird because is does look like you set it in your startup method. When you look at the logs, does the "Connecting and configuring the instrument" string get logged?

[2020-08-26 05:24] PYmeas commented on #260
Thanks for the feedback @physicsninja . No i dont see the "Connecting and configuring the instrument" string logged it s as if the `startup `method is shortcut. here is the exact log on the managedwindow when running the code as it is:
08/26/2020 12:37:19 PM : ManagedWindow connected to logging (INFO)
08/26/2020 12:37:22 PM : Constructing the Results with a data file: .\test\test2\data_08262020_1.

[2020-08-26 07:00] #292 closed

[2020-08-26 17:52] thjungers opened #310 "Can't input float parameters in ManagedWindow if the system decimal separator is not a dot"
Hi,

On my system, the decimal separator is set to a comma instead of a dot (this is common for non-English locales, such as French and German). With this setup, I am unable to enter float parameters in the ManagedWindow:

- when using a dot, it is ignored: 1.5 becomes 15;
- when using a comma, it is considered an invalid input: `TypeError: invalid result from ScientificInput.valueFromText(), must

[2020-08-27 11:50] thjungers opened #311 "Data post-processing using ManagedWindow"
Hi,

I am collecting data using PyMeasure, with a ManagedWindow interface.
Therefore, the data is emitted at each point, for tracing the curve in the ManagedWindow.

I need to apply some post-processing to the data (extracting some values from the overall curve) and save the results in the preamble of the CSV data file.
How can I do that with my setup?
I am able to do so from within the `Procedure

[2020-08-28 14:12] paulgoulain opened #312 "Filename line edit in ManagedWindow"
Hello,

I don't know if the option or the widget exists, but I couldn't find if the ManagedWindow has an option to add a line edit for the filename for the next precedure that will be queued. If it doesn't would you be interested in a pull request for this option ?

Paul

[2020-08-31 08:48] thosou opened #314 "Synchronization option in properties"
Hi,

It would be nice to have a synchronization option in the control, measurement and setting method of the instrument class. The motivation is to avoid putting sleep commands here and there.

Here are some examples of synchronization methods:

- https://www.rohde-schwarz.com/nl/driver-pages/remote-control/measurements-synchronization_231248.html
- http://na.support.keysight.com/vna/help/latest/P

[2020-08-31 14:15] PYmeas commented on #312
@paulgoulain do you mean save each queued experiment under a different filename? i save each file by iterating a counter or date as below not sure if helps.

[code]

[2020-08-31 14:40] PYmeas opened #315 "Startup method does not initialize instrument for IV measurements"
Hello,

I ve been struggling for a while with an IV `procedure `using a Keithley 2400 and display with `Managedwindow`. While i dont have any issue when i use the fake data as in the tutorial when i implement the Keithley in the `startup `method i get an Attribute error on the instrument: AttributeError: 'IVProcedure' object has no attribute 'sourcemeter'. If i run the IV in a standalone code with

[2020-08-31 15:38] paulgoulain commented on #312
Hi,

Thanks for your input. I was thinking of a QLineEdit just above the Queue button (see screenshot)

![2020-08-31 17_31_41-Window](https://user-images.githubusercontent.com/46636669/91737966-1bb77200-ebb0-11ea-8488-3960440732c0.png)

For this exemple, I just added a QLabel and a QLineEdit in the window.py code of pymeasure. The content of the QLineEdit could be accessed in the queue function of

[2020-08-31 16:30] PYmeas commented on #312
@paulgoulain i see would be nice indeed especially for directory. Thanks

[2020-08-31 16:46] PYmeas commented on #312
@paulgoulain are you measuring IV with a Keitlhley ? if yes do you initialize in the startup method?

[2020-08-31 16:53] paulgoulain commented on #312
Yes, I use a Keithley 2401.

Here is my startup function.
[code]

I just reused the IV exemple from pymeasure and adapted it for my use.

[2020-08-31 16:56] PYmeas commented on #312
@paulgoulain interesting i am doing same thing but i cannot initialize the instrument i use serial RS 232 i opened issue #315 for discussion.  i will test your lines in my codes. Thanks

[2020-09-01 07:52] PYmeas commented on #312
@paulgoulain It s really strange, i managed to get an IV but not by using the `startup `method but by initializing through a `def__ini__` method. it works but dont understand why. thanks for your input.
[code]

[2020-09-01 07:59] PYmeas commented on #315
I managed to get measurements but the `startup `method is still not functional by putting the initialization commands in a `def__ini__ `method it works fine. I dont get it. the commands are the same and my understanding was that the `startup `method is meant to initilalize the instruments.

[code]

[2020-09-01 08:02] PYmeas commented on #260
@physicsninja

I managed to get measurements but the startup method is still not functional by putting the initialization commands in a def__ini__ method it works fine. I dont get it. the commands are the same and my understanding was that the startup method is meant to initilalize the instruments.
[code]

the rest of the code is just the Managewindow class to plot so i dont think it would conflic

[2020-09-01 08:23] paulgoulain commented on #312
@PYmeas Strange indeed. Don't you have a GPIB connector ? It would be insightful if you can try with it and see if the startup function works or not.

[2020-09-02 03:01] PYmeas commented on #312
@paulgoulain no just on RS232 for now but for sure it s not a communication issue. on the iteration example tutorial it works fine. i will try to figure this out.

[2020-09-08 08:31] PYmeas commented on #315
parenthesis of the startup method were missing in the Worker.py file. issue solved.

[2020-09-08 08:32] #315 closed

[2020-09-08 08:33] PYmeas commented on #312
@paulgoulain i solved the issue the parenthesis of the startup method were missing in the worker.py file. thanks

[2020-09-10 21:43] electronsandstuff commented on #268
Hey guys, I was just coming on here to report the same issue.  I'm on Centos 7 using python 3.6, pymeasure 0.8, pyqt 5.15.0, and pygqtgraph 0.11.0.

I was following the tutorial ["using the plotter"](https://pymeasure.readthedocs.io/en/latest/tutorial/graphical.html) and the window pops up, but is blank.

![Screenshot from 2020-09-10 12-45-32](https://user-images.githubusercontent.com/61094787/928

[2020-09-18 22:33] jskaggs99 opened #319 "Keithley 2400"
Can we include high impedance settings in the Keithley 2400 function library?

[code]

Something like this does not exist in the documentation currently, and would help out a lot of people. Thank you!

[2020-09-21 19:03] Daivesd commented on #305
@bilderbuchi  Sorry to bother again... I'm rather new to github in general :\ I have written a working version for driving the keithley2600 and I have opened a pull request to merge my code. It seems to have passed some checks but I would like to know if I should perform some other steps to have that code merged in the project... it would be very useful to me in order to avoid some boring copy/pas

[2020-09-22 08:10] bilderbuchi commented on #305
Thanks for your contribution, and the poke. Sorry for lingering so long - we are only 2 maintainers with very little spare time for this, so merging/reviewing takes a very long time unfortunately. :-(

In the meantime, have you already tried pip-installing from the [git repo directly](https://stackoverflow.com/questions/20101834/pip-install-from-git-repo-branch)? You should be able to install pyme

[2020-09-22 08:47] byzantic opened #320 "Controlling equipment with pymeasure"
Hi, I'm not sure if this has been covered before ..

I'm investigating whether PyMeasure is suitable for my needs. The Instrument handling seems great, and I made a quick stab at adding support for a new instrument, which has so far been successful.

However, what is the recommended method for controlling experimental equipment? For example, say I have some experimental hardware connected to my ma

[2020-09-22 10:00] bilderbuchi commented on #320
I normally write a script and collect/connect all instruments/equipment (but I seldomly use the pymeasure GUI portions). Where possible, I try to use pymeasure Instruments for all of them, as the common API and handling (i.e. mainly property-based interaction) simplifies the use and implementation of the control logic.
However, nothing stops you from just using your python interface as-is, but you

[2020-09-22 10:52] Daivesd commented on #305
Thank you very much I didn't know that was something I could do!

[2020-09-23 04:28] nimrodmar opened #321 "Can't pickle <class 'sqlalchemy.orm.session.Session'>: it's not the same object as sqlalchemy.orm.session.Session"
Each time I try to execute airsenal_run_prediction I get the following error.
I've tried executing it with --num_thread=1 and it still didn't work.

Would appreciate any assistance.
[code]

[2020-09-23 04:49] bilderbuchi commented on #321
Did you accidentally report this in the wrong repository? This seems to have nothing to do with pymeasure?

[2020-09-23 04:54] nimrodmar commented on #321
You are right! Im sorry, feel free to delete this...

[2020-09-23 05:58] #321 closed

[2020-09-23 11:22] byzantic commented on #320
Thanks for the reply .. OK, I think I understand, I would need to look at the Adapter class.

I have two types of things I need to connect.

The first is a motor controller that communicates over USB, but already has a python adapter layer supplied. I think in that case, I just need to provide an adapter with a connection parameter that corresponds to the connection string currently used with the

[2020-09-23 12:01] bilderbuchi commented on #320
The thing is, pymeasure is based on a command-like interface - you send commands to your hardware (via an adapter over serial, usb, gpib, visa,...), and get results back. A Pymeasure Instrument is basically an adapter layer for this (as you already seem to have?)
If you implement an adapter that interfaces such commands with your hardware or existing interface, that should work, but I am not sure

[2020-09-23 12:03] bilderbuchi commented on #320
btw, you can also check the [instrument list](https://instrumentkit.readthedocs.io/en/latest/apiref/index.html) of the awesome https://github.com/Galvant/InstrumentKit if at least your motor controller already exists.

[2020-09-24 08:13] byzantic commented on #320
Thanks for the replies Christoph. I have been playing around a bit, and I have come to the following conclusions.

The `Instrument` part of `PyMeasure` is a library for connecting to (mainly) SCPI instruments. It seems to work well, and I can connect to several instruments from different manufacturers; I had to implement simple test instrument classes for these, which don't do very much, but they

[2020-09-24 08:13] #320 closed

[2020-09-24 10:43] bilderbuchi commented on #320
I agree with your conclusions above.
Regarding the experiment layer as you call it: I'm not sure how tightly coupled this is to the Instrument layer. It might be that you will run into troubles if the instruments you use are not pymeasure Instruments, but I think you will notice quickly. If you keep the instantiation similar (first argument is the "port"/connection specifier) that should work I th

[2020-09-25 16:50] paulgoulain commented on #319
Hi, I'm preparing a PR for some functionalities that are currently not implemented in the Keithley 2400 driver. I can add this function.

Paul

[2020-09-25 16:56] jskaggs99 commented on #319
That's awesome. Thank you so much

[2020-09-25 18:14] paulgoulain commented on #319
Looking at the manual, I think I would implement it using the Instrument.control function. It would look like that :

[code]

Does it look ok for you ?

Paul

[2020-09-25 18:45] jskaggs99 commented on #319
That looks great Paul

[2020-09-25 18:49] paulgoulain commented on #319
Great, I'll add it to my futur PR.

[2020-09-29 07:46] Bruyant opened #323 "A string parameter to store free comments"
Hi,

I'm looking to define a string parameter to enter a comment in the gui and store it in the csv file.

Is it a feature which alredy exist ?

If not, i should be able to ad it as a new string parameter class. What do you think of this idea ?

Thanks for the great work
Regards,

[2020-10-01 00:18] physicsninja commented on #323
If you are ok with the string comment being stored in the header along with all the other input parameters then yes, totally.

The default `Parameter` class is what you are looking for. If you look at this [example](https://github.com/ralph-group/pymeasure/blob/master/examples/Basic/gui.py), the parameter called `seed` is basically what you would need to do. You would just define a new parameter a

[2020-10-03 16:21] Bruyant commented on #323
Hi,

Thanks, it worked like a charm, I use it to track experiments parameters which are not computer controlled.

The only improvement I could dream of is to change the qt widget to allow longer comments to be entered, but I will try to do it by overriding the Parameter Class.

Nicolas BRUYANT
Ingénieur Instrumentation - Accueil des visiteurs

CNRS - LNCMI
143, avenue de Rangueil
31400 TOULOUSE
FR

[2020-10-08 19:18] jklynch opened #328 "VI_ERROR_TMO with Oxford Instruments Intelligent Temperature Controller 503"
We are getting a VI_ERROR_TMO while trying to write the temperature setpoint of an Oxford Instruments 503 Intelligent Temperature Controller. We are connecting to the 503 by USB from Windows.

`pyvisa.ResourceManager()` identifies the device:

[code]

Instantiating ITC503 seems to work (if clear_buffer=False is specified):

[code]

At this point VI_ERROR_TMO (-1073807339) occurs. The same error oc

[2020-10-08 20:01] physicsninja commented on #328
I have not interacted with this device before, but my first debugging thought is if you do something like:

[code]
Do you get a timeout or what you expect? I am concerned that there is a serial termination problem given the buffer problems as well

[2020-10-13 07:12] bilderbuchi commented on #328
In addition to what @physicsninja suggests (although you have to terminate with `\r`, not `\n` according to the manual I found), do the other commands (control_mode, heater_gas_mode, auto_pid) work correctly/as expected?
I.e. can you check if making these settings changes them on the device as expected, or can you even query them correctly?

Possibly the default serial interface settings are incor

[2020-10-13 07:23] bilderbuchi commented on #328
Also, I'd like to pull in @CasperSchippers, who currently has a PR (#308) open on updates for this instrument, maybe he has some wisdom to share.

[2020-10-14 10:08] bilderbuchi opened #331 "Parse returned strings on Adapter level"
If a device returns strings that don't fit into the simple pattern that Adapter.values can deal with, one has to parse after values() by defining get_process for every property. If the reply structure is consistent for an Instrument, this could probably use some improvement.

One alternative way to handle this would be to use a modified `extract_value` as the `cast` callable and make it return a f

[2020-10-14 10:39] dkriegner commented on #331
Although its of course possible that a specific device has a syntax which allows for the use of a general get_process function I think this would be a very academic case. In the case of #327 this get_process functions are only applied to certain properties. Namely those which return numerical values which requires different functions for every data type.

One significant simplification would be po

[2020-10-14 12:46] bilderbuchi commented on #331
Hm, I was under the impression that your device always replies with something like `Name = somevalue`, and you wanted to avoid defining a `get_process` (or other kwarg) for _every_ control/measurement just to get rid of the `Name = ` part and get numbers back.
If you handled that at Adapter level, you could avoid adding something to every control/measurement, and the default `values()` behaviour m